<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="styleguide.css" />
    <link rel="stylesheet" href="../../static/Admin/CatatBayar.css" />
  </head>
  <body>
    <div class="pencatatan">
      <div class="div">
        <div class="overlap">
          <div class="sub-head">
            <div class="overlap-group">
              <img class="rectangle" src="img/rectangle-3.png" />
              <div class="rectangle-2"></div>
              <div class="group">
                <div class="overlap-group">
                  <div class="frame">
                    <div class="ellipse"></div>
                    <div class="ellipse-2"></div>
                  </div>
                  <div class="group-2">
                    <div class="rectangle-3"></div>
                    <div class="rectangle-4"></div>
                    <div class="rectangle-5"></div>
                  </div>
                </div>
              </div>
              <div class="group-3">
                <div class="about-us">Pencatatan Pembayaran</div>
                <div class="home-about">Beranda / Janji Temu</div>
              </div>
            </div>
          </div>
          <div class="rectangle-6"></div>
          <div class="group-4">
            <div class="rectangle-7"></div>
            <div class="rectangle-8"></div>
            <div class="rectangle-9"></div>
          </div>
          <div class="text-wrapper">POLIKLINIK X</div>
          <div class="group-wrapper">
            <div class="overlap-group-wrapper">
              <div class="overlap-group-2">
                <div class="rectangle-10"></div>
                <div class="rectangle-11"></div>
              </div>
            </div>
          </div>
          <div class="search-bar">
            <div class="content">
              <div class="magnifyingglass"><div class="magnifyingglass-2">􀊫</div></div>
              <div class="placeholder-label">Search</div>
            </div>
          </div>
          <div class="overlap-wrapper">
            <div class="div-wrapper"><div class="text-wrapper-2">Beranda</div></div>
          </div>
          <img class="img" src="img/ellipse.png" />
        </div>
        <img class="group-5" src="img/group.png" />
        <div class="overlap-2"><div class="text-wrapper-3">SUBMIT</div></div>
        <div class="text-wrapper-4">Nomor Rekam Medis Pasien</div>
        <div class="overlap-3">
          <div class="rectangle-12"></div>
          <p class="p">Masukan nomor rekam medis pasien</p>
        </div>
        <div class="text-wrapper-5">Jumlah pembayaran</div>
        <div class="overlap-4">
          <div class="rectangle-12"></div>
          <div class="text-wrapper-6">Rp. 123.456.789</div>
        </div>
        <div class="text-wrapper-7">Deskripsi</div>
        <div class="text-wrapper-8">Tanggal</div>
        <div class="text-wrapper-9">Metode pembayaran</div>
        <div class="overlap-5">
          <div class="rectangle-13"></div>
          <p class="text-wrapper-10">Masukan deskripsi untuk oembayaran ini</p>
        </div>
        <div class="overlap-6">
          <div class="rectangle-14"></div>
          <img class="gopay-logo" src="img/saldo-rp-10000-di-go-pay-kini-bisa-untuk-investasi-reksa-dana.jpg" />
        </div>
        <div class="FIGMA-OVO-wrapper"><img class="FIGMA-OVO" src="img/022e9877180fdc3ef50f973e7620547d.png" /></div>
        <div class="FIGMA-cc-wrapper"><img class="FIGMA-cc" src="img/credit-card-payment-method-flat-vector-illustration_582267-830.png" /></div>
        <div class="overlap-7">
          <div class="text-wrapper-11">Follow us :</div>
          <img class="vector" src="img/vector-2.svg" />
          <img class="vector-2" src="img/vector.svg" />
          <img class="prime-twitter" src="img/prime-twitter.svg" />
          <img class="mdi-linkedin" src="img/mdi-linkedin.svg" />
        </div>
        <div class="DD-date" data-DD-list-mode="date">
          <div class="DD-list">
            <div class="option">
              <div class="frame-2"><div class="text-wrapper-12">01</div></div>
            </div>
            <div class="option">
              <div class="frame-2"><div class="text-wrapper-12">02</div></div>
            </div>
            <div class="option">
              <div class="frame-2"><div class="text-wrapper-12">03</div></div>
            </div>
            <div class="option">
              <div class="frame-2"><div class="text-wrapper-12">04</div></div>
            </div>
            <div class="option">
              <div class="frame-2"><div class="text-wrapper-12">05</div></div>
            </div>
            <div class="option">
              <div class="frame-2"><div class="text-wrapper-12">06</div></div>
            </div>
            <div class="option">
              <div class="frame-2"><div class="text-wrapper-12">07</div></div>
            </div>
            <div class="option">
              <div class="frame-2"><div class="text-wrapper-12">08</div></div>
            </div>
            <div class="option">
              <div class="frame-2"><div class="text-wrapper-12">09</div></div>
            </div>
            <div class="option">
              <div class="frame-2"><div class="text-wrapper-12">10</div></div>
            </div>
            <div class="option">
              <div class="frame-2"><div class="text-wrapper-12">11</div></div>
            </div>
            <div class="option">
              <div class="frame-2"><div class="text-wrapper-12">12</div></div>
            </div>
            <div class="option">
              <div class="frame-2"><div class="text-wrapper-12">13</div></div>
            </div>
            <div class="option">
              <div class="frame-2"><div class="text-wrapper-12">14</div></div>
            </div>
            <div class="option">
              <div class="frame-2"><div class="text-wrapper-12">15</div></div>
            </div>
            <div class="option">
              <div class="frame-2"><div class="text-wrapper-12">16</div></div>
            </div>
            <div class="option">
              <div class="frame-2"><div class="text-wrapper-12">17</div></div>
            </div>
            <div class="option">
              <div class="frame-2"><div class="text-wrapper-12">18</div></div>
            </div>
            <div class="option">
              <div class="frame-2"><div class="text-wrapper-12">19</div></div>
            </div>
            <div class="option">
              <div class="frame-2"><div class="text-wrapper-12">20</div></div>
            </div>
            <div class="option">
              <div class="frame-2"><div class="text-wrapper-12">21</div></div>
            </div>
            <div class="option">
              <div class="frame-2"><div class="text-wrapper-12">22</div></div>
            </div>
            <div class="option">
              <div class="frame-2"><div class="text-wrapper-12">23</div></div>
            </div>
            <div class="option">
              <div class="frame-2"><div class="text-wrapper-12">24</div></div>
            </div>
            <div class="option">
              <div class="frame-2"><div class="text-wrapper-12">25</div></div>
            </div>
            <div class="option">
              <div class="frame-2"><div class="text-wrapper-12">26</div></div>
            </div>
            <div class="option">
              <div class="frame-2"><div class="text-wrapper-12">27</div></div>
            </div>
            <div class="frame-wrapper">
              <div class="frame-2"><div class="text-wrapper-12">28</div></div>
            </div>
            <div class="option-2">
              <div class="frame-2"><div class="text-wrapper-12">29</div></div>
            </div>
            <div class="option-3">
              <div class="frame-2"><div class="text-wrapper-12">30</div></div>
            </div>
            <div class="option-4">
              <div class="frame-2"><div class="text-wrapper-12">31</div></div>
            </div>
          </div>
          <div class="DD-header">
            <div class="DD-header-label"><div class="text-wrapper-13">Select Date</div></div>
            <div class="chevron"><img class="open" src="img/open.svg" /> <img class="close" src="img/close.svg" /></div>
          </div>
        </div>
        <div class="DD-month">
          <div class="DD-list-2">
            <div class="option-5">
              <div class="frame-2"><div class="text-wrapper-12">January</div></div>
            </div>
            <div class="option-5">
              <div class="frame-2"><div class="text-wrapper-12">February</div></div>
            </div>
            <div class="option-5">
              <div class="frame-2"><div class="text-wrapper-12">March</div></div>
            </div>
            <div class="option-5">
              <div class="frame-2"><div class="text-wrapper-12">April</div></div>
            </div>
            <div class="option-5">
              <div class="frame-2"><div class="text-wrapper-12">May</div></div>
            </div>
            <div class="option-5">
              <div class="frame-2"><div class="text-wrapper-12">June</div></div>
            </div>
            <div class="option-5">
              <div class="frame-2"><div class="text-wrapper-12">July</div></div>
            </div>
            <div class="option-5">
              <div class="frame-2"><div class="text-wrapper-12">August</div></div>
            </div>
            <div class="option-5">
              <div class="frame-2"><div class="text-wrapper-12">September</div></div>
            </div>
            <div class="option-5">
              <div class="frame-2"><div class="text-wrapper-12">October</div></div>
            </div>
            <div class="option-5">
              <div class="frame-2"><div class="text-wrapper-12">November</div></div>
            </div>
            <div class="option-5">
              <div class="frame-2"><div class="text-wrapper-12">December</div></div>
            </div>
          </div>
          <div class="DD-header-2">
            <div class="DD-header-label"><div class="text-wrapper-13">Select Month</div></div>
            <div class="chevron">
              <img class="open" src="img/open-2.svg" /> <img class="close-2" src="img/close-2.svg" />
            </div>
          </div>
        </div>
        <div class="DD-year" data-DD-list-mode="year">
          <div class="DD-list-3">
            <div class="option">
              <div class="frame-2"><div class="text-wrapper-12">2019</div></div>
            </div>
            <div class="option">
              <div class="frame-2"><div class="text-wrapper-12">2020</div></div>
            </div>
            <div class="option">
              <div class="frame-2"><div class="text-wrapper-12">2021</div></div>
            </div>
            <div class="option">
              <div class="frame-2"><div class="text-wrapper-12">2022</div></div>
            </div>
            <div class="option">
              <div class="frame-2"><div class="text-wrapper-12">2023</div></div>
            </div>
            <div class="option">
              <div class="frame-2"><div class="text-wrapper-12">2024</div></div>
            </div>
            <div class="option">
              <div class="frame-2"><div class="text-wrapper-12">2025</div></div>
            </div>
            <div class="option">
              <div class="frame-2"><div class="text-wrapper-12">2026</div></div>
            </div>
            <div class="option">
              <div class="frame-2"><div class="text-wrapper-12">2027</div></div>
            </div>
            <div class="option-6">
              <div class="frame-2"><div class="text-wrapper-12">2028</div></div>
            </div>
          </div>
          <div class="DD-header">
            <div class="DD-header-label"><div class="text-wrapper-13">Select Year</div></div>
            <div class="chevron">
              <img class="open" src="img/open-3.svg" /> <img class="close-3" src="img/image.svg" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <h3>Transaction List</h3>
<table>
    <tr>
        <th>Pasien</th>
        <th>Dokter</th>
        <th>Hari</th>
        <th>Jam</th>
        <th>Tarif</th>
    </tr>
    <tr th:each="transaksi : ${transaksis}">
        <td th:text="${transaksi.pasien.nama}"></td>
        <td th:text="${transaksi.namaDokter}"></td>
        <td th:text="${transaksi.hari}"></td>
        <td th:text="${transaksi.jam}"></td>
        <td th:text="${transaksi.tarif}"></td>
    </tr>
</table>

    <form th:action="@{/Add-Catat-Bayar}" method="post">
      <label for="idTransaksi">Pilih Transaksi:</label>
      <select id="idTransaksi" name="idTransaksi">
          <option th:each="transaksi : ${transactions}" th:value="${transaksi.idTransaksi}" 
                  th:text="${transaksi.pasien.nama} + ' - ' + ${transaksi.hari}"></option>
      </select><br>
  
      <label for="tarif">Tarif:</label>
      <input type="number" id="tarif" name="tarif" required/><br>
  
      <button type="submit">Update Tarif</button>
  </form>
  
  </body>
</html>
