<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./vars.css">
  <link rel="stylesheet" href="./style.css">
  
  
  <style>
   a,
   button,
   input,
   select,
   h1,
   h2,
   h3,
   h4,
   h5,
   * {
       box-sizing: border-box;
       margin: 0;
       padding: 0;
       border: none;
       text-decoration: none;
       background: none;
   
       -webkit-font-smoothing: antialiased;
   }
   
   menu, ol, ul {
       list-style-type: none;
       margin: 0;
       padding: 0;
   }
   </style>
  <title>Document</title>
</head>
<body>
  <div class="beranda-administrasi">
    <img
      class="mount-elizabeth-novena-rekomendasi-rumah-sakit-singapura-kavacare-2"
      src="mount-elizabeth-novena-rekomendasi-rumah-sakit-singapura-kavacare-20.png"
    />
    <div class="rectangle-2"></div>
    <div class="rectangle-3"></div>
    <div class="rectangle-4"></div>
    <div class="poliklinik-x">POLIKLINIK X</div>
    <div class="rectangle-14"></div>
    <img class="ic-sharp-call" src="ic-sharp-call0.svg" />
    <div class="call-center-081234567890">Call Center : 081234567890</div>
    <img class="ic-sharp-call2" src="ic-sharp-call1.svg" />
    <div class="customer-call-center-022-82558000">
      Customer Call Center : 022-82558000
    </div>
    <div class="follow-us">Follow us :</div>
    <img class="vector" src="vector0.svg" />
    <img class="vector2" src="vector1.svg" />
    <div class="prime-twitter">
      <img class="group" src="group0.svg" />
    </div>
    <img class="mdi-linkedin" src="mdi-linkedin0.svg" />
    <div class="ellipse-1"></div>
    <div class="group-2">
      <div class="rectangle-15"></div>
      <div class="rectangle-16"></div>
    </div>
    <div class="rectangle-18"></div>
    <div class="search-bar">
      <div class="content">
        <div class="magnifyingglass">
          <div class="magnifyingglass2">􀊫</div>
        </div>
        <div class="placeholder-label">Search</div>
      </div>
    </div>
    <div class="rectangle-20"></div>
    <div class="rectangle-17"></div>
    <div class="beranda">Beranda</div>
    <div class="layanan">Layanan</div>
    <div class="rectangle-19"></div>
    <div class="informasi">Informasi</div>
    <div class="ellipse-8"></div>
    <div class="ellipse-9"></div>
    <img class="mask-group" src="mask-group0.svg" />
    <div class="ellipse-10"></div>
    <div class="catat-pembayaran">Catat Pembayaran</div>
    <div class="jadwal-dokter">Jadwal Dokter</div>
    <div class="pendaftaran">Pendaftaran</div>
    <img class="money-bag" src="money-bag0.png" />
    <img class="document-writer" src="document-writer0.png" />
    <div class="login"> <a th:href="@{/Login}">LOGIN </a> </div>
    <div class="register"> <a th:href="@{/register}"> Register</a> </div>
    <div class="line-1"></div>
  </div>
  
</body>
</html>