<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="styleguide.css" />
    <link rel="stylesheet" href="../../static/Dokter/DiagnosaDokter.css" />
  </head>
  <body>
    <div class="diagnosa-dokter">
      <div class="div">
        <div class="overlap">
          <div class="rectangle"></div>
          <div class="group">
            <div class="rectangle-2"></div>
            <div class="rectangle-3"></div>
            <div class="rectangle-4"></div>
          </div>
          <div class="text-wrapper">POLIKLINIK X</div>
          <div class="group-wrapper">
            <div class="overlap-group-wrapper">
              <div class="overlap-group">
                <div class="rectangle-5"></div>
                <div class="rectangle-6"></div>
              </div>
            </div>
          </div>
          <div class="rectangle-7"></div>
          <div class="search-bar">
            <div class="content">
              <div class="magnifyingglass"><div class="magnifyingglass-2">􀊫</div></div>
              <div class="placeholder-label">Search</div>
            </div>
          </div>
          <div class="text-wrapper-2">Beranda</div>
          <img class="ellipse" src="img/ellipse.png" />
          <div class="sub-head">
            <div class="overlap-group-2">
              <div class="div-wrapper">
                <div class="overlap-group-2">
                  <div class="frame">
                    <div class="ellipse-2"></div>
                    <div class="ellipse-3"></div>
                  </div>
                  <div class="group-2">
                    <div class="rectangle-8"></div>
                    <div class="rectangle-9"></div>
                    <div class="rectangle-10"></div>
                  </div>
                </div>
              </div>
              <div class="group-3">
                <div class="about-us">Catat Diagnosa</div>
                <div class="home-about">Beranda / Resep Dokter</div>
              </div>
            </div>
          </div>
        </div>
        <div class="text-wrapper-3">BAYAR</div>
        <div class="overlap-2">
          <form action="/submit" method="post" style="margin: 0; padding: 0; width: 100%; height: 100%;">
              <button type="submit" class="button-style">Submit</button>
          </form>
      </div>
        <div class="overlap-3">
          <div class="text-wrapper-5">Follow us :</div>
          <img class="vector" src="img/image.svg" />
          <img class="img" src="img/vector.svg" />
          <img class="prime-twitter" src="img/prime-twitter.svg" />
          <img class="mdi-linkedin" src="img/mdi-linkedin.svg" />
        </div>
        <div class="group-4">
          <div class="text-wrapper-6">Nomor Medis</div>
          <div class="overlap-4">
            <input
              type="text"
              class="rectangle-11-input"
              placeholder="Masukan nomor medis pasien"
            />
          </div>
          <div class="text-wrapper-8">Diagnosa yang diberikan</div>
          <div class="overlap-5">
            <textarea
              class="overlap-5-input"
              placeholder="Masukan diagnosa yang diberikan serta catatan tambahan untuk diagnosa tersebut"
            ></textarea>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
