<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./vars.css">
  <link rel="stylesheet" href="/Dokter/DiagnosaDokter.css">
  
  
  <style>
   a,
   button,
   input,
   select,
   h1,
   h2,
   h3,
   h4,
   h5,
   * {
       box-sizing: border-box;
       margin: 0;
       padding: 0;
       border: none;
       text-decoration: none;
       background: none;
   
       -webkit-font-smoothing: antialiased;
   }
   
   menu, ol, ul {
       list-style-type: none;
       margin: 0;
       padding: 0;
   }
   </style>
  <title>Document</title>
</head>
<body>
  <div class="diagnosa-dokter">
    <div class="sub-head">
      <img class="figma-payment-hospital" src="/Pelanggan/img/figma-payment-hospital0.png" />
      <div class="frame-2">
        <div class="ellipse-1"></div>
        <div class="ellipse-2"></div>
      </div>
      <div class="group-184">
        <div class="rectangle-76"></div>
        <div class="rectangle-78"></div>
        <div class="rectangle-77"></div>
      </div>
      <div class="about-us">Catat Diagnosa</div>
      <div class="home-about">Beranda / Resep Dokter</div>
    </div>
    <div class="bayar">BAYAR</div>
    <div class="rectangle-105"></div>
    <div class="submit">SUBMIT</div>
    <div class="nomor-medis">Nomor Medis</div>
    <div class="rectangle-93"></div>
    <div class="masukan-nomor-medis-pasien">Masukan nomor medis pasien</div>
    <div class="diagnosa-yang-diberikan">Diagnosa yang diberikan</div>
    <div class="rectangle-91"></div>
    <div
      class="masukan-diagnosa-yang-diberikan-serta-catatan-tambahan-utnuk-diagnosa-tersebut"
    >
      Masukan diagnosa yang diberikan serta catatan tambahan utnuk diagnosa
      tersebut
    </div>
    <div class="rectangle-79"></div>
    <div class="poliklinik-x">POLIKLINIK X</div>
    <div class="ellipse-12"></div>
    <div class="group-2">
      <div class="rectangle-15"></div>
      <div class="rectangle-16"></div>
    </div>
    <div class="rectangle-80"></div>
    <div class="beranda">Beranda</div>
    <img class="ellipse" src="ellipse0.png" />
  </div>
  
</body>
</html>