

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <!-- Reference to external CSS files in resources/static/resources -->
  <link rel="stylesheet" th:href="@{/resources/vars.css}">
  <link rel="stylesheet" th:href="@{/resources/JanjiTemu.css}">

  <style>
   a,
   button,
   input,
   select,
   h1,
   h2,
   h3,
   h4,
   h5,
   * {
       box-sizing: border-box;
       margin: 0;
       padding: 0;
       border: none;
       text-decoration: none;
       background: none;
       -webkit-font-smoothing: antialiased;
   }
   menu, ol, ul {
       list-style-type: none;
       margin: 0;
       padding: 0;
   }
  </style>
  <title>Janji Temu</title>
</head>
<body>
  <div class="janji-temu">
    <div class="sub-head">
      <!-- External images updated with Thymeleaf syntax -->
      <img class="rectangle-3" th:src="@{/resources/rectangle-30.png}" />
      <div class="rectangle-4"></div>
      <div class="frame-2">
        <div class="ellipse-1"></div>
        <div class="ellipse-2"></div>
      </div>
      <div class="group-184">
        <div class="rectangle-76"></div>
        <div class="rectangle-78"></div>
        <div class="rectangle-77"></div>
      </div>
      <div class="about-us">Diagnosa Dokter</div>
      <div class="home-about">Beranda / Diagnosa Dokter</div>
    </div>
    
    <div class="rectangle-14"></div>
    <div class="follow-us">Follow us :</div>
    <img class="vector" th:src="@{/resources/vector0.svg}" />
    <img class="vector2" th:src="@{/resources/vector1.svg}" />
    <div class="prime-twitter">
      <img class="group" th:src="@{/resources/group0.svg}" />
    </div>
    <img class="mdi-linkedin" th:src="@{/resources/mdi-linkedin0.svg}" />
    
    <div class="rectangle-19"></div>
    <div class="informasi">Informasi</div>
    <div class="rectangle-20"></div>
    <div class="rectangle-2"></div>
    <div class="rectangle-32"></div>
    <div class="rectangle-42"></div>
    <div class="poliklinik-x">POLIKLINIK X</div>
    <div class="ellipse-12"></div>
    <div class="group-2">
      <div class="rectangle-15"></div>
      <div class="rectangle-16"></div>
    </div>
    
    <!-- Search bar -->
    <div class="search-bar">
      <div class="content">
        <div class="magnifyingglass">
          <div class="magnifyingglass2">􀊫</div>
        </div>
        <div class="placeholder-label">Search</div>
      </div>
    </div>

    <div class="rectangle-17"></div>
    <div class="beranda">Beranda</div>
    <div class="rectangle-18"></div>
    <div class="layanan">Layanan</div>
    <img class="ellipse" th:src="@{/resources/ellipse0.png}" />
    <img class="group2" th:src="@{/resources/group1.svg}" />

    <!-- Doctor Schedule Table -->
    <div class="rectangle-6480">
      <form th:action="@{/add-obat}" method="post">
        <label for="idTransaksi">Pilih Transaksi:</label>
        <select id="idTransaksi" name="idTransaksi">
            <option th:each="transaksi : ${transactions}" th:value="${transaksi.idTransaksi}" 
                    th:text="${transaksi.noRekamMedis} + ' - ' + ${transaksi.hari}"></option>
        </select><br>
    
        <label for="hasilPreskripsi">Hasil Preskripsi:</label>
        <textarea id="hasilPreskripsi" name="hasilPreskripsi" required></textarea><br>
    
        <button type="submit">Add Hasil Preskripsi</button>
    </form>
    </div>
  </div>
</body>
</html>