<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="styleguide.css" />
    <link rel="stylesheet" href="../../static/Dokter/ResepDokter.css" />
  </head>
  <body>
    <div class="resep-dokter">
      <div class="div">
        <div class="overlap">
          <div class="rectangle"></div>
          <div class="group">
            <div class="rectangle-2"></div>
            <div class="rectangle-3"></div>
            <div class="rectangle-4"></div>
          </div>
          <div class="text-wrapper">POLIKLINIK X</div>
          <div class="group-wrapper">
            <div class="overlap-group-wrapper">
              <div class="overlap-group">
                <div class="rectangle-5"></div>
                <div class="rectangle-6"></div>
              </div>
            </div>
          </div>
          <div class="rectangle-7"></div>
          <div class="search-bar">
            <div class="content">
              <div class="magnifyingglass"><div class="magnifyingglass-2">􀊫</div></div>
              <div class="placeholder-label">Search</div>
            </div>
          </div>
          <div class="text-wrapper-2">Beranda</div>
          <img class="ellipse" src="img/ellipse.png" />
          <div class="sub-head">
            <div class="overlap-group-2">
              <div class="div-wrapper">
                <div class="overlap-group-2">
                  <div class="frame">
                    <div class="ellipse-2"></div>
                    <div class="ellipse-3"></div>
                  </div>
                  <div class="group-2">
                    <div class="rectangle-8"></div>
                    <div class="rectangle-9"></div>
                    <div class="rectangle-10"></div>
                  </div>
                </div>
              </div>
              <div class="group-3">
                <div class="about-us">Resep Dokter</div>
                <div class="home-about">Beranda / Resep Doketr</div>
              </div>
            </div>
          </div>
        </div>
        <div class="overlap-2">
          <div class="text-wrapper-3">BAYAR</div>
          <img class="FIGMA-obat" src="img/figma-obat-10.png" />
          <img class="img" src="img/figma-obat-20.png" />
          <form action="/simpanResep" method="POST">
            <div class="group-4">
              <div class="nama-pasien-sekarang">Nomor Rekam Medis:</div>
              <div class="overlap-3">
                <input 
                  class="input-field" 
                  type="text" 
                  name="noRekamMedis" 
                  placeholder="Masukan nomor rekam medis" 
                  required />
              </div>
              <div class="text-wrapper-5">Nama/jenis obat yang diberikan</div>
              <div class="overlap-4">
                <input 
                  class="input-field" 
                  type="text" 
                  name="namaObat" 
                  placeholder="Masukan nama obat yang diberikan ke pasien" 
                  required />
              </div>
              <div class="text-wrapper-7">Dosis untuk obat</div>
              <div class="overlap-5">
                <input 
                  class="input-field" 
                  type="text" 
                  name="dosisObat" 
                  placeholder="(Jumlah)/(Hari)" 
                  required />
              </div>
              
              <div class="overlap-7">
                <button type="submit" class="text-wrapper-9">SUBMIT</button>
              </div>
            </div>
          </form>
          <div class="overlap-8">
          <div class="text-wrapper-10">Follow us :</div>
          <img class="vector" src="img/image.svg" />
          <img class="vector-2" src="img/vector.svg" />
          <img class="prime-twitter" src="img/prime-twitter.svg" />
          <img class="mdi-linkedin" src="img/mdi-linkedin.svg" />
        </div>
      </div>
    </div>
  </body>
</html>
