<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="styleguide.css" />
    <link rel="stylesheet" href="/Dokter/SesudahLoginDokter.css" />
    <style>
      a, button, input, select, h1, h2, h3, h4, h5, * {
          box-sizing: border-box;
          margin: 0;
          padding: 0;
          border: none;
          text-decoration: none;
          background: none;
          -webkit-font-smoothing: antialiased;
      }
      
      menu, ol, ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
      }
     </style>
     <title>Home Dokter</title>
    </head>
    <body>
      <div class="home-dokter">
        <div class="rectangle-20"></div>
        <div class="poliklinik-x">POLIKLINIK X</div>

        <!-- logo X -->
        <div class="ellipse-1"></div>
        <div class="group-2">
          <div class="rectangle-15"></div>
          <div class="rectangle-16"></div>
        </div>

        <!-- ikon account -->
        <img class="ellipse" th:src="@{/Perawat/img/account.png}" alt="Ikon Akun" 
          style="cursor: pointer;" onclick="confirmLogout()" />

        <script>
          function confirmLogout() {
            const userConfirmed = confirm("Apakah anda ingin log out?");
            if (userConfirmed) {
              // Arahkan ke halaman logout
              window.location.href = "http://localhost:8080/";
            }
          }
        </script>

        <!-- beranda -->
        <div class="rectangle-17" onclick="navigateToBeranda()"></div>
        <div class="beranda" th:text="'Beranda'" style="cursor: pointer; color: inherit;" onclick="navigateToBeranda()">
          Beranda
        </div>
        <script>
          function navigateToBeranda() {
            window.location.href = "http://localhost:8080/setelahLoginDokter";
          }
        </script>

        <!-- Catat Diagnosa -->
        <div class="ellipse-2" style="cursor: pointer; color: inherit;" onclick="navigateToDiagnosaPasien()"></div>
        <div class="catat-diagnosa-pasien" style="cursor: pointer; color: inherit;" onclick="navigateToDiagnosaPasien()">
          Catat Diagnosa Pasien
        </div>
        <img class="hand-with-pen" th:src="@{/Perawat/img/hand-with-pen0.png}" alt="Ikon Pena" style="cursor: pointer;" onclick="navigateToDiagnosaPasien()" />
        <script>
          function navigateToDiagnosaPasien() {
            window.location.href = "http://localhost:8080/DiagnosisDokter";
          }
        </script>

        <!-- Catat Obat -->
        <div class="obat" th:text="'Catat Resep Obat'" style="cursor: pointer; color: inherit;" onclick="navigateToObat()">
          Obat
        </div>
        <div class="ellipse-11" onclick="navigateToObat()"></div>
        <img class="vector11" src="/Pelanggan/img/pill.png" onclick="navigateToObat()"/>
        <script>
          function navigateToObat() {
            window.location.href = "http://localhost:8080/ResepDokter";
          }
        </script>
        </div>
      </body>
      </html>