.diagnosa-dokter,
.diagnosa-dokter * {
  box-sizing: border-box;
}
.diagnosa-dokter {
  background: #ffffff;
  height: 1174px;
  position: relative;
}
.sub-head {
  width: 1440px;
  height: 314px;
  position: absolute;
  left: 2px;
  top: 147px;
}
.figma-payment-hospital {
  opacity: 0.3;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  object-fit: cover;
}
.group-203 {
  position: absolute;
  inset: 0;
}
.frame-2 {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  overflow: hidden;
}
.ellipse-1 {
  background: var(--accent, #bfd2f8);
  border-radius: 50%;
  opacity: 0.5;
  width: 256px;
  height: 256px;
  position: absolute;
  right: -128px;
  top: 122px;
}
.ellipse-2 {
  background: var(--secondary, #159eec);
  border-radius: 50%;
  opacity: 0.3;
  width: 239px;
  height: 239px;
  position: absolute;
  left: -119px;
  top: -119px;
}
.group-184 {
  width: 1440px;
  height: 10.05px;
  position: static;
}
.rectangle-76 {
  background: var(--primary, #1f2b6c);
  width: 61.29%;
  height: 3.2%;
  position: absolute;
  right: 16.33%;
  left: 22.38%;
  bottom: 0%;
  top: 96.8%;
}
.rectangle-78 {
  background: var(--secondary, #159eec);
  width: 16.33%;
  height: 3.2%;
  position: absolute;
  right: 0%;
  left: 83.67%;
  bottom: 0%;
  top: 96.8%;
}
.rectangle-77 {
  background: var(--accent, #bfd2f8);
  width: 22.38%;
  height: 3.2%;
  position: absolute;
  right: 77.62%;
  left: 0%;
  bottom: 0%;
  top: 96.8%;
}
.group-108 {
  position: absolute;
  inset: 0;
}
.about-us {
  color: var(--primary, #1f2b6c);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 48px;
  font-weight: 400;
  position: absolute;
  right: 62.07%;
  left: 13.69%;
  width: 24.24%;
  bottom: 42.73%;
  top: 38.8%;
  height: 18.47%;
}
.home-about {
  color: var(--primary, #1f2b6c);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 18px;
  line-height: 140%;
  font-weight: 400;
  position: absolute;
  right: 72.21%;
  left: 13.69%;
  width: 14.1%;
  bottom: 61.64%;
  top: 30.4%;
  height: 7.96%;
}
.bayar {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 17.23173713684082px;
  line-height: 150%;
  font-weight: 700;
  position: absolute;
  left: 695px;
  top: 866px;
  width: 71px;
  height: 33px;
  -webkit-text-stroke: 1px #ffffff;
}
.rectangle-105 {
  background: #1f2b6c;
  border-radius: 69.96px;
  border-style: solid;
  border-color: #dbefff;
  border-width: 0.47px;
  width: 1332px;
  height: 55px;
  position: absolute;
  left: 59px;
  top: 971px;
}
.submit {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 17.23173713684082px;
  line-height: 150%;
  font-weight: 700;
  position: absolute;
  left: 692px;
  top: 986px;
  width: 88px;
  height: 33px;
  -webkit-text-stroke: 1px #ffffff;
}
.group-264 {
  position: absolute;
  inset: 0;
}
.nomor-medis {
  color: var(--gray-700, #344054);
  text-align: left;
  font-family: "Mulish-Regular", sans-serif;
  font-size: 19.56916618347168px;
  line-height: 150%;
  font-weight: 400;
  position: absolute;
  left: 59px;
  top: 511px;
  width: 483.04px;
  height: 36px;
}
.rectangle-93 {
  background: #ffffff;
  border-radius: 6.9px;
  border-style: solid;
  border-color: #000000;
  border-width: 0.34px;
  width: 1319px;
  height: 36.34px;
  position: absolute;
  left: 59px;
  top: 551.88px;
}
.masukan-nomor-medis-pasien {
  color: #bbbbbb;
  text-align: left;
  font-family: "Mulish-Regular", sans-serif;
  font-size: 15.021242141723633px;
  line-height: 150%;
  font-weight: 400;
  position: absolute;
  left: 98.01px;
  top: 558.7px;
  width: 1092.26px;
  height: 40.88px;
}
.diagnosa-yang-diberikan {
  color: var(--gray-700, #344054);
  text-align: left;
  font-family: "Mulish-Regular", sans-serif;
  font-size: 19.56916618347168px;
  line-height: 150%;
  font-weight: 400;
  position: absolute;
  left: 59px;
  top: 613px;
  width: 560.33px;
  height: 38px;
}
.rectangle-91 {
  background: #ffffff;
  border-radius: 6.9px;
  border-style: solid;
  border-color: #000000;
  border-width: 0.34px;
  width: 1318.17px;
  height: 190px;
  position: absolute;
  left: 59px;
  top: 654px;
}
.masukan-diagnosa-yang-diberikan-serta-catatan-tambahan-utnuk-diagnosa-tersebut {
  color: #bbbbbb;
  text-align: left;
  font-family: "Mulish-Regular", sans-serif;
  font-size: 15.021242141723633px;
  line-height: 150%;
  font-weight: 400;
  position: absolute;
  left: 106.23px;
  top: 659px;
  width: 1243.03px;
  height: 41px;
}
.rectangle-79 {
  background: linear-gradient(
    0deg,
    rgba(228, 245, 255, 0) 0%,
    rgba(228, 245, 255, 1) 100%
  );
  width: 1445px;
  height: 236px;
  position: absolute;
  left: -5px;
  top: 0px;
}
.poliklinik-x {
  color: #03337c;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 40px;
  line-height: 24px;
  letter-spacing: 0.5px;
  font-weight: 700;
  position: absolute;
  left: 194px;
  top: 47px;
}
.group-5 {
  position: absolute;
  inset: 0;
}
.ellipse-12 {
  background: #03337c;
  border-radius: 50%;
  width: 77px;
  height: 77px;
  position: absolute;
  left: 64px;
  top: 24px;
  box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.group-2 {
  width: 50.84px;
  height: 50.84px;
  position: static;
}
.rectangle-15 {
  background: #ffffff;
  width: 60.37px;
  height: 11.53px;
  position: absolute;
  left: 76.94px;
  top: 79.62px;
  transform-origin: 0 0;
  transform: rotate(-45deg) scale(1, 1);
}
.rectangle-16 {
  background: #ffffff;
  width: 60.37px;
  height: 11.53px;
  position: absolute;
  left: 85.09px;
  top: 36.94px;
  transform-origin: 0 0;
  transform: rotate(45deg) scale(1, 1);
}
.rectangle-80 {
  background: rgba(217, 217, 217, 0.7);
  border-radius: 36px;
  width: 119px;
  height: 29px;
  position: absolute;
  left: 512px;
  top: 44px;
}
.beranda {
  color: #03337c;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.5px;
  font-weight: 700;
  position: absolute;
  left: 512px;
  top: 46px;
  width: 115px;
  height: 19px;
}
.ellipse {
  border-radius: 50%;
  width: 64px;
  height: 64px;
  position: absolute;
  left: 1339px;
  top: 28px;
  object-fit: cover;
}
