.desktop-informasi,
.desktop-informasi * {
  box-sizing: border-box;
}
.desktop-informasi {
  background: #ffffff;
  height: 2744px;
  position: absolute;
  overflow: hidden;
}
.group-29 {
  position: absolute;
  inset: 0;
}
.rectangle-76 {
  background: #d9d9d9;
  width: 1920px;
  height: 298.87px;
  position: absolute;
  left: -0.98px;
  top: 169px;
}
.rectangle-77 {
  background: linear-gradient(to left, #d9d9d9, #d9d9d9);
  width: 1920px;
  height: 298.87px;
  position: absolute;
  left: -0.98px;
  top: 169px;
  object-fit: cover;
}
.page-title {
  width: 1920px;
  height: 99.62px;
  position: static;
}
.rectangle-53 {
  background: #eeeeee;
  width: 1920px;
  height: 99.62px;
  position: absolute;
  left: -10px;
  top: 468.87px;
}
.beranda-informasi {
  color: #606060;
  text-align: left;
  font-family: "PtSerif-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 132.28px;
  top: 492.78px;
  width: 126.25px;
  height: 18.93px;
}
.lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-pellentesque-leo-nec-aenean-maecenas-odio-tempus-id-mauris-elementum-est-egestas-tincidunt-pellentesque-tempus-massa-rhoncus-velit-nec-lorem-purus-est-facilisis-quam-lorem-amet-nunc-lectus-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-pellentesque-leo-nec-aenean-maecenas-odio-tempus-id-mauris-elementum-est-es-tincidunt-pellentesque-tempus-massa-rhoncus-velit-nec-lorem-purus-est-facilisis-quam-lorem-amet-nunc-lectus {
  color: #606060;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 25px;
  font-weight: 400;
  position: absolute;
  left: 130.28px;
  top: 613.32px;
  width: 827.63px;
  height: 162.39px;
}
.group-70 {
  width: 1182.33px;
  height: 523.02px;
  position: static;
}
.item {
  width: 380.75px;
  height: 523.02px;
  position: static;
}
.mask-group {
  width: 380.75px;
  height: 308.83px;
  position: absolute;
  left: 130.28px;
  top: 782.68px;
  overflow: visible;
}
.the-medical-experts-carefully {
  color: #222f66;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 159.4%;
  font-weight: 700;
  position: absolute;
  left: 130.28px;
  top: 1114.42px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-fusce-enim-fames-quam-pellentesque-interdum-purus-senectus-feugiat-elit-c {
  color: #606060;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 15px;
  line-height: 159.4%;
  font-weight: 400;
  position: absolute;
  left: 132.28px;
  top: 1157.27px;
  width: 375.74px;
  height: 72.73px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.rectangle-39 {
  border-radius: 25px;
  border-style: solid;
  border-color: #222f66;
  border-width: 1px;
  width: 127.25px;
  height: 49.81px;
  position: absolute;
  left: 135.29px;
  top: 1255.89px;
}
.read-more {
  color: #222f66;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 15px;
  line-height: 159.4%;
  font-weight: 400;
  position: absolute;
  left: 156.33px;
  top: 1267.84px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.mask-group2 {
  width: 380.75px;
  height: 308.83px;
  position: absolute;
  left: 531.07px;
  top: 782.68px;
  overflow: visible;
}
.the-medical-experts-carefully2 {
  color: #222f66;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 159.4%;
  font-weight: 700;
  position: absolute;
  left: 531.07px;
  top: 1114.42px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-fusce-enim-fames-quam-pellentesque-interdum-purus-senectus-feugiat-elit-c2 {
  color: #606060;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 15px;
  line-height: 159.4%;
  font-weight: 400;
  position: absolute;
  left: 533.07px;
  top: 1157.27px;
  width: 375.74px;
  height: 72.73px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.rectangle-392 {
  border-radius: 25px;
  border-style: solid;
  border-color: #222f66;
  border-width: 1px;
  width: 127.25px;
  height: 49.81px;
  position: absolute;
  left: 536.08px;
  top: 1255.89px;
}
.read-more2 {
  color: #222f66;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 15px;
  line-height: 159.4%;
  font-weight: 400;
  position: absolute;
  left: 557.12px;
  top: 1267.84px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.mask-group3 {
  width: 380.75px;
  height: 308.83px;
  position: absolute;
  left: 931.86px;
  top: 782.68px;
  overflow: visible;
}
.the-medical-experts-carefully3 {
  color: #222f66;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 159.4%;
  font-weight: 700;
  position: absolute;
  left: 931.86px;
  top: 1114.42px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-fusce-enim-fames-quam-pellentesque-interdum-purus-senectus-feugiat-elit-c3 {
  color: #606060;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 15px;
  line-height: 159.4%;
  font-weight: 400;
  position: absolute;
  left: 933.86px;
  top: 1157.27px;
  width: 375.74px;
  height: 72.73px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.rectangle-393 {
  border-radius: 25px;
  border-style: solid;
  border-color: #222f66;
  border-width: 1px;
  width: 127.25px;
  height: 49.81px;
  position: absolute;
  left: 936.87px;
  top: 1255.89px;
}
.read-more3 {
  color: #222f66;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 15px;
  line-height: 159.4%;
  font-weight: 400;
  position: absolute;
  left: 957.91px;
  top: 1267.84px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.group-71 {
  width: 1182.33px;
  height: 523.02px;
  position: static;
}
.mask-group4 {
  width: 380.75px;
  height: 308.83px;
  position: absolute;
  left: 130.28px;
  top: 1345.56px;
  overflow: visible;
}
.the-medical-experts-carefully4 {
  color: #222f66;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 159.4%;
  font-weight: 700;
  position: absolute;
  left: 130.28px;
  top: 1677.3px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-fusce-enim-fames-quam-pellentesque-interdum-purus-senectus-feugiat-elit-c4 {
  color: #606060;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 15px;
  line-height: 159.4%;
  font-weight: 400;
  position: absolute;
  left: 132.28px;
  top: 1720.14px;
  width: 375.74px;
  height: 72.73px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.rectangle-394 {
  border-radius: 25px;
  border-style: solid;
  border-color: #222f66;
  border-width: 1px;
  width: 127.25px;
  height: 49.81px;
  position: absolute;
  left: 135.29px;
  top: 1818.77px;
}
.read-more4 {
  color: #222f66;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 15px;
  line-height: 159.4%;
  font-weight: 400;
  position: absolute;
  left: 156.33px;
  top: 1830.72px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.mask-group5 {
  width: 380.75px;
  height: 308.83px;
  position: absolute;
  left: 531.07px;
  top: 1345.56px;
  overflow: visible;
}
.the-medical-experts-carefully5 {
  color: #222f66;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 159.4%;
  font-weight: 700;
  position: absolute;
  left: 531.07px;
  top: 1677.3px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-fusce-enim-fames-quam-pellentesque-interdum-purus-senectus-feugiat-elit-c5 {
  color: #606060;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 15px;
  line-height: 159.4%;
  font-weight: 400;
  position: absolute;
  left: 533.07px;
  top: 1720.14px;
  width: 375.74px;
  height: 72.73px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.rectangle-395 {
  border-radius: 25px;
  border-style: solid;
  border-color: #222f66;
  border-width: 1px;
  width: 127.25px;
  height: 49.81px;
  position: absolute;
  left: 536.08px;
  top: 1818.77px;
}
.read-more5 {
  color: #222f66;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 15px;
  line-height: 159.4%;
  font-weight: 400;
  position: absolute;
  left: 557.12px;
  top: 1830.72px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.mask-group6 {
  width: 380.75px;
  height: 308.83px;
  position: absolute;
  left: 931.86px;
  top: 1345.56px;
  overflow: visible;
}
.the-medical-experts-carefully6 {
  color: #222f66;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 159.4%;
  font-weight: 700;
  position: absolute;
  left: 931.86px;
  top: 1677.3px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-fusce-enim-fames-quam-pellentesque-interdum-purus-senectus-feugiat-elit-c6 {
  color: #606060;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 15px;
  line-height: 159.4%;
  font-weight: 400;
  position: absolute;
  left: 933.86px;
  top: 1720.14px;
  width: 375.74px;
  height: 72.73px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.rectangle-396 {
  border-radius: 25px;
  border-style: solid;
  border-color: #222f66;
  border-width: 1px;
  width: 127.25px;
  height: 49.81px;
  position: absolute;
  left: 936.87px;
  top: 1818.77px;
}
.read-more6 {
  color: #222f66;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 15px;
  line-height: 159.4%;
  font-weight: 400;
  position: absolute;
  left: 957.91px;
  top: 1830.72px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.footer {
  width: 1920px;
  height: 757.14px;
  position: static;
}
.rectangle-41 {
  background: #e4f5ff;
  width: 1920px;
  height: 301.86px;
  position: absolute;
  left: 1.02px;
  top: 2370.68px;
}
.footer-appointment {
  width: 1920px;
  height: 455.28px;
  position: static;
}
.rectangle-40 {
  background: #ddf1f0;
  width: 1920px;
  height: 268.98px;
  position: absolute;
  left: 1.02px;
  top: 2101.7px;
}
.rectangle-42 {
  background: #222f66;
  border-radius: 200px 200px 200px 0px;
  width: 350.69px;
  height: 348.68px;
  position: absolute;
  left: 181.38px;
  top: 2022px;
}
.dun-011-1 {
  width: 410.81px;
  height: 455.28px;
  position: absolute;
  left: 126.27px;
  top: 1915.4px;
  object-fit: cover;
}
.mencari-profesional-terpercaya-kesehatan-medis {
  color: #03337c;
  text-align: left;
  font-family: "PtSerif-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: absolute;
  left: 593.19px;
  top: 2151.51px;
  width: 391.77px;
  height: 63.76px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.jangan-ragu-untuk-menghubungi-kami {
  color: #000000;
  text-align: left;
  font-family: "PtSerif-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: 593.19px;
  top: 2237.24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.rectangle-48 {
  background: #03337c;
  border-radius: 25px;
  border-style: solid;
  border-color: transparent;
  border-width: 1px;
  width: 220.43px;
  height: 49.81px;
  position: absolute;
  left: 594.19px;
  top: 2270.06px;
}
.janji-temu {
  color: #ffffff;
  font-family: "PtSerif-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: 654.31px;
  top: 2284.01px;
  width: 100px;
  height: 20.92px;
  align-items: center;
}
.footer-cta {
  width: 1080.13px;
  height: 441.05px;
  position: static;
}
.group-17 {
  width: 340.67px;
  height: 441.05px;
  position: static;
}
.rectangle-49 {
  border-radius: 12px;
  border-style: solid;
  border-color: #053b8c;
  border-width: 2px;
  width: 340.67px;
  height: 119.55px;
  position: absolute;
  left: 182.38px;
  top: 2430.46px;
}
._081234567890 {
  color: #03337c;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.5px;
  font-weight: 400;
  text-transform: uppercase;
  position: absolute;
  left: 268.55px;
  top: 2466.32px;
  width: 151.3px;
  height: 23.91px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.call-us-now {
  color: #050505;
  text-align: left;
  font-family: "PtSans-Bold", sans-serif;
  font-size: 15px;
  font-weight: 700;
  text-transform: lowercase;
  position: absolute;
  left: 270.55px;
  top: 2492.22px;
  width: 72.14px;
  height: 18.93px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.rectangle-50 {
  background: #053b8c;
  width: 50.1px;
  height: 49.81px;
  position: absolute;
  left: 204.42px;
  top: 2466.32px;
}
.group {
  width: 2.09%;
  height: 0.93%;
  position: absolute;
  right: 81%;
  left: 16.91%;
  bottom: 22.22%;
  top: 76.86%;
  overflow: visible;
}
.group-18 {
  width: 340.67px;
  height: 119.55px;
  position: static;
}
.rectangle-492 {
  border-radius: 12px;
  border-style: solid;
  border-color: #053b8c;
  border-width: 2px;
  width: 340.67px;
  height: 119.55px;
  position: absolute;
  left: 551.11px;
  top: 2430.46px;
}
.x-poliklinik-poliklinik-com {
  color: #03337c;
  text-align: left;
  font-family: "PtSerif-Bold", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: lowercase;
  position: absolute;
  left: 637.28px;
  top: 2466.32px;
  width: 244.48px;
  height: 23.91px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.drop-us-an-email {
  color: #000000;
  text-align: left;
  font-family: "PtSans-Bold", sans-serif;
  font-size: 15px;
  font-weight: 700;
  text-transform: lowercase;
  position: absolute;
  left: 639.28px;
  top: 2492.22px;
  width: 107.21px;
  height: 18.93px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.rectangle-502 {
  background: #053b8c;
  width: 50.1px;
  height: 49.81px;
  position: absolute;
  left: 573.15px;
  top: 2466.32px;
}
.group2 {
  width: 2%;
  height: 0.78%;
  position: absolute;
  right: 55.44%;
  left: 42.56%;
  bottom: 8.84%;
  top: 90.38%;
  overflow: visible;
}
.group-19 {
  width: 340.67px;
  height: 119.55px;
  position: static;
}
.rectangle-493 {
  border-radius: 12px;
  border-style: solid;
  border-color: #053b8c;
  border-width: 2px;
  width: 340.67px;
  height: 119.55px;
  position: absolute;
  left: 921.84px;
  top: 2430.46px;
}
._24-x-7-support {
  color: #03337c;
  text-align: left;
  font-family: "PtSerif-Bold", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: lowercase;
  position: absolute;
  left: 1008.01px;
  top: 2466.32px;
  width: 123.24px;
  height: 23.91px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.we-are-open-on {
  color: #000000;
  text-align: left;
  font-family: "PtSans-Bold", sans-serif;
  font-size: 15px;
  font-weight: 700;
  text-transform: lowercase;
  position: absolute;
  left: 1010.01px;
  top: 2492.22px;
  width: 99.2px;
  height: 18.93px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.rectangle-503 {
  background: #053b8c;
  width: 50.1px;
  height: 49.81px;
  position: absolute;
  left: 943.88px;
  top: 2466.32px;
}
.group3 {
  width: 31.38px;
  height: 26.61px;
  position: absolute;
  left: 953px;
  top: 2477px;
  overflow: visible;
}
.copyright {
  width: 1920px;
  height: 71.46px;
  position: static;
}
.rectangle-52 {
  background: #ddf1f0;
  width: 1920px;
  height: 71.46px;
  position: absolute;
  left: 0.02px;
  top: 2672.54px;
}
.follow-us {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.5px;
  font-weight: 400;
  position: absolute;
  left: 1173px;
  top: 2697px;
  width: 105px;
  height: 23px;
}
.vector {
  width: 1.39%;
  height: 0.59%;
  position: absolute;
  right: 5.97%;
  left: 92.64%;
  bottom: 0.98%;
  top: 98.43%;
  overflow: visible;
}
.vector2 {
  width: 1.39%;
  height: 0.59%;
  position: absolute;
  right: 7.99%;
  left: 90.62%;
  bottom: 0.94%;
  top: 98.47%;
  overflow: visible;
}
.prime-twitter {
  width: 20px;
  height: 19px;
  position: absolute;
  left: 1363px;
  top: 2699px;
  overflow: hidden;
}
.group4 {
  height: auto;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.mdi-linkedin {
  width: 20px;
  height: 19px;
  position: absolute;
  left: 1392px;
  top: 2699px;
  overflow: visible;
}
.group-108 {
  width: 209px;
  height: 71.81px;
  position: static;
}
.informasi {
  color: var(--primary, #1f2b6c);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 48px;
  font-weight: 400;
  position: absolute;
  right: 72.49%;
  left: 13%;
  width: 14.51%;
  bottom: 89.18%;
  top: 9.02%;
  height: 1.8%;
}
.beranda-informasi2 {
  color: var(--primary, #1f2b6c);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 18px;
  line-height: 140%;
  font-weight: 400;
  position: absolute;
  right: 75.48%;
  left: 13%;
  width: 11.53%;
  bottom: 91.02%;
  top: 8.2%;
  height: 0.78%;
}
.rectangle-79 {
  background: linear-gradient(
    0deg,
    rgba(228, 245, 255, 0) 0%,
    rgba(228, 245, 255, 1) 100%
  );
  width: 1920px;
  height: 236px;
  position: relative;
  left: -10px;
  top: 0px;
}
.group-4 {
  position: absolute;
  inset: 0;
}
.rectangle-2 {
  background: #03337c;
  width: 50.78px;
  height: 6.03px;
  position: absolute;
  left: 26px;
  top: 41px;
}
.rectangle-3 {
  background: #03337c;
  width: 50.78px;
  height: 6.03px;
  position: absolute;
  left: 26px;
  top: 51.33px;
}
.rectangle-4 {
  background: #03337c;
  width: 50.78px;
  height: 6.03px;
  position: absolute;
  left: 26px;
  top: 60.8px;
}
.poliklinik-x {
  color: #03337c;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 40px;
  line-height: 24px;
  letter-spacing: 0.5px;
  font-weight: 700;
  position: absolute;
  left: 244px;
  top: 47px;
}
.group-5 {
  position: absolute;
  inset: 0;
}
.ellipse-1 {
  background: #03337c;
  border-radius: 50%;
  width: 77px;
  height: 77px;
  position: absolute;
  left: 122px;
  top: 16px;
  box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.group-2 {
  width: 50.84px;
  height: 50.84px;
  position: static;
}
.rectangle-15 {
  background: #ffffff;
  width: 60.37px;
  height: 11.53px;
  position: absolute;
  left: 134.94px;
  top: 71.62px;
  transform-origin: 0 0;
  transform: rotate(-45deg) scale(1, 1);
}
.rectangle-16 {
  background: #ffffff;
  width: 60.37px;
  height: 11.53px;
  position: absolute;
  left: 143.09px;
  top: 28.94px;
  transform-origin: 0 0;
  transform: rotate(45deg) scale(1, 1);
}
.rectangle-80 {
  background: rgba(217, 217, 217, 0.7);
  border-radius: 36px;
  width: 119px;
  height: 29px;
  position: absolute;
  left: 555px;
  top: 44px;
}
.rectangle-81 {
  background: rgba(217, 217, 217, 0.7);
  border-radius: 36px;
  width: 119px;
  height: 29px;
  position: absolute;
  left: 702px;
  top: 44px;
}
.rectangle-82 {
  background: rgba(217, 217, 217, 0.7);
  border-radius: 36px;
  width: 119px;
  height: 29px;
  position: absolute;
  left: 859px;
  top: 44px;
}
.search-bar {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 290px;
  height: 34px;
  position: absolute;
  left: 1014px;
  top: 41px;
}
.content {
  background: var(--system-materials-sm-l-thick, rgba(250, 250, 250, 0.93));
  border-radius: 10px;
  opacity: 0.8;
  padding: 8px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 36px;
  position: relative;
}
.magnifyingglass {
  flex-shrink: 0;
  width: 28px;
  height: 28px;
  position: relative;
  overflow: hidden;
}
.magnifyingglass2 {
  color: var(--label-colors-lc-l-secondary, rgba(60, 60, 67, 0.6));
  text-align: center;
  font-family: "SfProDisplay-Medium", sans-serif;
  font-size: 18px;
  line-height: 50px;
  font-weight: 500;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.placeholder-label {
  color: var(--label-colors-lc-l-secondary, rgba(60, 60, 67, 0.6));
  text-align: left;
  font-family: var(
    --default-size-body-font-family,
    "SfProText-Regular",
    sans-serif
  );
  font-size: var(--default-size-body-font-size, 17px);
  line-height: var(--default-size-body-line-height, 22px);
  letter-spacing: var(--default-size-body-letter-spacing, -0.41px);
  font-weight: var(--default-size-body-font-weight, 400);
  position: relative;
  flex: 1;
}
.beranda {
  color: #03337c;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.5px;
  font-weight: 700;
  position: absolute;
  left: 556px;
  top: 46px;
  width: 115px;
  height: 19px;
}
.layanan {
  color: #03337c;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.5px;
  font-weight: 700;
  position: absolute;
  left: 712px;
  top: 46px;
  width: 103px;
  height: 21px;
}
.informasi2 {
  color: #03337c;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.5px;
  font-weight: 700;
  position: absolute;
  left: 856px;
  top: 46px;
  width: 122px;
  height: 24px;
}
.ellipse {
  border-radius: 50%;
  width: 64px;
  height: 64px;
  position: absolute;
  left: 1739px;
  top: 28px;
  object-fit: cover;
}
