.janji-temu,
.janji-temu * {
  box-sizing: border-box;
}
.janji-temu {
  background: var(--white, #fcfefe);
  height: 1840px;
  position: relative;
  overflow: hidden;
}
.group-208 {
  position: absolute;
  inset: 0;
}
.group-50 {
  width: 491px;
  height: 141px;
  position: static;
}
.buat-janji-temu {
  color: var(--primary, #1f2b6c);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 191px;
  top: 525px;
}
.Details {
  color: var(--black, #212124);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  position: absolute;
  left: 191px;
  top: 578px;
  width: 491px;
}
.group-49 {
  width: 509px;
  height: 206.66px;
  position: static;
}
.rectangle-80 {
  background: var(--accent, #bfd2f8);
  border-radius: 5px;
  width: 509px;
  height: 139px;
  position: absolute;
  left: 191px;
  top: 704px;
}
.group-48 {
  width: 509px;
  height: 68.66px;
  position: static;
}
.rectangle-34 {
  background: var(--accent, #bfd2f8);
  border-radius: 0px 0px 5px 5px;
  width: 509px;
  height: 68.66px;
  position: absolute;
  left: 191px;
  top: 842px;
}
.submit {
  color: var(--primary, #1f2b6c);
  text-align: center;
  font-family: "WorkSans-Medium", sans-serif;
  font-size: 16px;
  line-height: 140%;
  font-weight: 500;
  text-transform: uppercase;
  position: absolute;
  top: 861.22px;
  width: 63.24px;
  height: 30.21px;
  left: 400px;
}
.group-43 {
  width: 245px;
  height: 68.66px;
  position: static;
}
.rectangle-36 {
  background: var(--primary, #1f2b6c);
  width: 245px;
  height: 68.66px;
  position: absolute;
  left: 191px;
  top: 704px;
}
.date {
  color: var(--white, #fcfefe);
  text-align: left;
  font-family: var(--body-font-family, "WorkSans-Regular", sans-serif);
  font-size: var(--body-font-size, 16px);
  line-height: var(--body-line-height, 140%);
  font-weight: var(--body-font-weight, 400);
  position: absolute;
  left: 211px;
  top: 725.97px;
  width: 37px;
  height: 30.21px;
}
.vector {
  width: 16px;
  height: 12.42px;
  position: absolute;
  left: 412px;
  top: 731.46px;
  overflow: visible;
}
.group-44 {
  width: 245px;
  height: 68.66px;
  position: static;
}
.rectangle-37 {
  background: var(--primary, #1f2b6c);
  width: 245px;
  height: 68.66px;
  position: absolute;
  left: 455px;
  top: 704px;
}
.time {
  color: var(--white, #fcfefe);
  text-align: left;
  font-family: var(--body-font-family, "WorkSans-Regular", sans-serif);
  font-size: var(--body-font-size, 16px);
  line-height: var(--body-line-height, 140%);
  font-weight: var(--body-font-weight, 400);
  position: absolute;
  left: 475px;
  top: 725.97px;
  width: 39px;
  height: 30.21px;
}
.vector2 {
  width: 16px;
  height: 12.42px;
  position: absolute;
  left: 677px;
  top: 731.46px;
  overflow: visible;
}
.group-46 {
  width: 245px;
  height: 68.66px;
  position: static;
}
.rectangle-38 {
  background: var(--primary, #1f2b6c);
  width: 245px;
  height: 68.66px;
  position: absolute;
  left: 191px;
  top: 774.03px;
}
.doctor {
  color: var(--white, #fcfefe);
  text-align: left;
  font-family: var(--body-font-family, "WorkSans-Regular", sans-serif);
  font-size: var(--body-font-size, 16px);
  line-height: var(--body-line-height, 140%);
  font-weight: var(--body-font-weight, 400);
  position: absolute;
  left: 211px;
  top: 796px;
  width: 53px;
  height: 30.21px;
}
.vector3 {
  width: 16px;
  height: 12.42px;
  position: absolute;
  left: 412px;
  top: 801.5px;
  overflow: visible;
}
.group-45 {
  width: 245px;
  height: 68.66px;
  position: static;
}
.rectangle-39 {
  background: var(--primary, #1f2b6c);
  width: 245px;
  height: 68.66px;
  position: absolute;
  left: 455px;
  top: 774.03px;
}
.department {
  color: var(--white, #fcfefe);
  text-align: left;
  font-family: var(--body-font-family, "WorkSans-Regular", sans-serif);
  font-size: var(--body-font-size, 16px);
  line-height: var(--body-line-height, 140%);
  font-weight: var(--body-font-weight, 400);
  position: absolute;
  left: 475px;
  top: 796px;
  width: 94px;
  height: 30.21px;
}
.vector4 {
  width: 16px;
  height: 12.42px;
  position: absolute;
  left: 677px;
  top: 801.5px;
  overflow: visible;
}
.group-148 {
  width: 481px;
  height: 650px;
  position: static;
}
.rectangle-59 {
  background: var(--primary, #1f2b6c);
  border-radius: 5px;
  width: 481px;
  height: 650px;
  position: absolute;
  left: 739px;
  top: 525px;
}
.vector-6 {
  width: 331px;
  height: 0px;
  position: absolute;
  left: 820px;
  top: 1036.5px;
  overflow: visible;
}
.group-8 {
  width: 215px;
  height: 56.5px;
  position: static;
}
._081234567890 {
  color: var(--accent, #bfd2f8);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.5px;
  font-weight: 400;
  position: absolute;
  left: 907px;
  top: 1098.5px;
}
.group-188 {
  width: 50px;
  height: 47.5px;
  position: absolute;
  left: 843px;
  top: 1077.5px;
  overflow: visible;
}
.emergency {
  color: var(--white, #fcfefe);
  text-align: left;
  font-family: var(--title-font-family, "WorkSans-Medium", sans-serif);
  font-size: var(--title-font-size, 26px);
  font-weight: var(--title-font-weight, 500);
  position: absolute;
  left: 907px;
  top: 1068.5px;
}
.jadwal {
  color: var(--accent, #bfd2f8);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 48px;
  font-weight: 400;
  position: absolute;
  left: 908px;
  top: 564px;
}
.group-146 {
  width: 399px;
  height: 325.5px;
  position: static;
}
.group-145 {
  width: 288px;
  height: 25.04px;
  position: static;
}
.vector-9 {
  width: 19.5px;
  height: 0px;
  position: absolute;
  left: 946px;
  top: 992.48px;
  overflow: visible;
}
.sunday {
  color: var(--white, #fcfefe);
  text-align: left;
  font-family: "WorkSans-Regular", sans-serif;
  font-size: 18px;
  line-height: 140%;
  font-weight: 400;
  position: absolute;
  left: 789px;
  top: 979.46px;
  width: 64px;
  height: 25.04px;
}
.closed {
  color: var(--white, #fcfefe);
  text-align: left;
  font-family: "WorkSans-Regular", sans-serif;
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  position: absolute;
  left: 1023px;
  top: 981.47px;
  width: 54px;
  height: 22.03px;
}
.group-144 {
  width: 399px;
  height: 25.04px;
  position: static;
}
.vector-8 {
  width: 19.5px;
  height: 0px;
  position: absolute;
  left: 946px;
  top: 942.41px;
  overflow: visible;
}
.saturday {
  color: var(--white, #fcfefe);
  text-align: left;
  font-family: "WorkSans-Regular", sans-serif;
  font-size: 18px;
  line-height: 140%;
  font-weight: 400;
  position: absolute;
  left: 789px;
  top: 929.39px;
  width: 78px;
  height: 25.04px;
}
._09-00-am-07-00-pm {
  color: var(--white, #fcfefe);
  text-align: left;
  font-family: "WorkSans-Regular", sans-serif;
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  position: absolute;
  left: 1023px;
  top: 931.39px;
  width: 165px;
  height: 22.03px;
}
.group-143 {
  width: 399px;
  height: 25.04px;
  position: static;
}
.vector-7 {
  width: 19.5px;
  height: 0px;
  position: absolute;
  left: 946px;
  top: 892.33px;
  overflow: visible;
}
.friday {
  color: var(--white, #fcfefe);
  text-align: left;
  font-family: "WorkSans-Regular", sans-serif;
  font-size: 18px;
  line-height: 140%;
  font-weight: 400;
  position: absolute;
  left: 789px;
  top: 879.31px;
  width: 53px;
  height: 25.04px;
}
._09-00-am-07-00-pm2 {
  color: var(--white, #fcfefe);
  text-align: left;
  font-family: "WorkSans-Regular", sans-serif;
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  position: absolute;
  left: 1023px;
  top: 881.31px;
  width: 165px;
  height: 22.03px;
}
.group-142 {
  width: 399px;
  height: 25.04px;
  position: static;
}
.vector-62 {
  width: 19.5px;
  height: 0px;
  position: absolute;
  left: 946px;
  top: 842.25px;
  overflow: visible;
}
.thursday {
  color: var(--white, #fcfefe);
  text-align: left;
  font-family: "WorkSans-Regular", sans-serif;
  font-size: 18px;
  line-height: 140%;
  font-weight: 400;
  position: absolute;
  left: 789px;
  top: 829.23px;
  width: 80px;
  height: 25.04px;
}
._09-00-am-07-00-pm3 {
  color: var(--white, #fcfefe);
  text-align: left;
  font-family: "WorkSans-Regular", sans-serif;
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  position: absolute;
  left: 1023px;
  top: 831.23px;
  width: 165px;
  height: 22.03px;
}
.group-141 {
  width: 399px;
  height: 25.04px;
  position: static;
}
.vector-5 {
  width: 19.5px;
  height: 0px;
  position: absolute;
  left: 946px;
  top: 792.17px;
  overflow: visible;
}
.wednesday {
  color: var(--white, #fcfefe);
  text-align: left;
  font-family: "WorkSans-Regular", sans-serif;
  font-size: 18px;
  line-height: 140%;
  font-weight: 400;
  position: absolute;
  left: 789px;
  top: 779.15px;
  width: 100px;
  height: 25.04px;
}
._09-00-am-07-00-pm4 {
  color: var(--white, #fcfefe);
  text-align: left;
  font-family: "WorkSans-Regular", sans-serif;
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  position: absolute;
  left: 1023px;
  top: 781.16px;
  width: 165px;
  height: 22.03px;
}
.group-140 {
  width: 399px;
  height: 25.04px;
  position: static;
}
.vector-4 {
  width: 19.5px;
  height: 0px;
  position: absolute;
  left: 946px;
  top: 742.1px;
  overflow: visible;
}
.tuesday {
  color: var(--white, #fcfefe);
  text-align: left;
  font-family: "WorkSans-Regular", sans-serif;
  font-size: 18px;
  line-height: 140%;
  font-weight: 400;
  position: absolute;
  left: 789px;
  top: 729.08px;
  width: 71px;
  height: 25.04px;
}
._09-00-am-07-00-pm5 {
  color: var(--white, #fcfefe);
  text-align: left;
  font-family: "WorkSans-Regular", sans-serif;
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  position: absolute;
  left: 1023px;
  top: 731.08px;
  width: 165px;
  height: 22.03px;
}
.group-139 {
  width: 399px;
  height: 25.04px;
  position: static;
}
.vector-3 {
  width: 19.5px;
  height: 0px;
  position: absolute;
  left: 946px;
  top: 692.02px;
  overflow: visible;
}
.monday {
  color: var(--white, #fcfefe);
  text-align: left;
  font-family: "WorkSans-Regular", sans-serif;
  font-size: 18px;
  line-height: 140%;
  font-weight: 400;
  position: absolute;
  left: 789px;
  top: 679px;
  width: 68px;
  height: 25.04px;
}
._09-00-am-07-00-pm6 {
  color: var(--white, #fcfefe);
  text-align: left;
  font-family: "WorkSans-Regular", sans-serif;
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  position: absolute;
  left: 1023px;
  top: 681px;
  width: 165px;
  height: 22.03px;
}
.sub-head {
  width: 1440px;
  height: 314px;
  position: absolute;
  left: 0px;
  top: 160px;
}
.rectangle-3 {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  object-fit: cover;
}
.rectangle-4 {
  background: rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.group-203 {
  position: absolute;
  inset: 0;
}
.frame-2 {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  overflow: hidden;
}
.ellipse-1 {
  background: var(--accent, #bfd2f8);
  border-radius: 50%;
  opacity: 0.5;
  width: 256px;
  height: 256px;
  position: absolute;
  right: -128px;
  top: 122px;
}
.ellipse-2 {
  background: var(--secondary, #159eec);
  border-radius: 50%;
  opacity: 0.3;
  width: 239px;
  height: 239px;
  position: absolute;
  left: -119px;
  top: -119px;
}
.group-184 {
  width: 1440px;
  height: 10.05px;
  position: static;
}
.rectangle-76 {
  background: var(--primary, #1f2b6c);
  width: 61.29%;
  height: 3.2%;
  position: absolute;
  right: 16.33%;
  left: 22.38%;
  bottom: 0%;
  top: 96.8%;
}
.rectangle-78 {
  background: var(--secondary, #159eec);
  width: 16.33%;
  height: 3.2%;
  position: absolute;
  right: 0%;
  left: 83.67%;
  bottom: 0%;
  top: 96.8%;
}
.rectangle-77 {
  background: var(--accent, #bfd2f8);
  width: 22.38%;
  height: 3.2%;
  position: absolute;
  right: 77.62%;
  left: 0%;
  bottom: 0%;
  top: 96.8%;
}
.group-108 {
  position: absolute;
  inset: 0;
}
.about-us {
  color: var(--primary, #1f2b6c);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 48px;
  font-weight: 400;
  position: absolute;
  right: 61.31%;
  left: 13.69%;
  width: 25%;
  bottom: 42.73%;
  top: 38.8%;
  height: 18.47%;
}
.home-about {
  color: var(--primary, #1f2b6c);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 18px;
  line-height: 140%;
  font-weight: 400;
  position: absolute;
  right: 73.88%;
  left: 13.69%;
  width: 12.43%;
  bottom: 61.64%;
  top: 30.4%;
  height: 7.96%;
}
.contacts-section {
  width: 992px;
  height: 363px;
  position: absolute;
  left: 192px;
  top: 1278px;
}
.group-52 {
  position: absolute;
  inset: 0;
}
.contact {
  color: var(--primary, #1f2b6c);
  text-align: center;
  font-family: var(--display-2-font-family, "YesevaOne-Regular", sans-serif);
  font-size: var(--display-2-font-size, 32px);
  font-weight: var(--display-2-font-weight, 400);
  position: absolute;
  right: 43.65%;
  left: 43.55%;
  width: 12.8%;
  bottom: 85.82%;
  top: 15.99%;
  height: 10.19%;
}
.get-in-touch {
  color: var(--secondary, #159eec);
  text-align: center;
  font-family: var(--caption-font-family, "WorkSans-Bold", sans-serif);
  font-size: var(--caption-font-size, 24px);
  letter-spacing: var(--caption-letter-spacing, 0.16em);
  font-weight: var(--caption-font-weight, 700);
  text-transform: uppercase;
  position: absolute;
  right: 41.94%;
  left: 41.94%;
  width: 16.13%;
  bottom: 94.21%;
  top: 0%;
  height: 5.79%;
}
.group-82 {
  position: absolute;
  inset: 0;
}
.group-79 {
  width: 233px;
  height: 233px;
  position: static;
}
.rectangle-13 {
  background: var(--primary, #1f2b6c);
  border-radius: 5px;
  border-style: solid;
  border-color: #03337c;
  border-width: 1px;
  width: 23.49%;
  height: 64.19%;
  position: absolute;
  right: 51.01%;
  left: 25.5%;
  bottom: 0%;
  top: 35.81%;
}
.group-77 {
  width: 153px;
  height: 130px;
  position: static;
}
.group-178 {
  width: 3.02%;
  height: 9.92%;
  position: absolute;
  right: 68.35%;
  left: 28.63%;
  bottom: 39.67%;
  top: 50.41%;
  overflow: visible;
}
.group-200 {
  width: 153px;
  height: 78px;
  position: static;
}
._0123-some-place {
  color: #ffffff;
  text-align: left;
  font-family: var(--body-font-family, "WorkSans-Regular", sans-serif);
  font-size: var(--body-font-size, 16px);
  line-height: var(--body-line-height, 140%);
  font-weight: var(--body-font-weight, 400);
  position: absolute;
  right: 58.06%;
  left: 28.53%;
  width: 13.41%;
  bottom: 21.21%;
  top: 72.73%;
  height: 6.06%;
}
._9876-some-country {
  color: #ffffff;
  text-align: left;
  font-family: var(--body-font-family, "WorkSans-Regular", sans-serif);
  font-size: var(--body-font-size, 16px);
  line-height: var(--body-line-height, 140%);
  font-weight: var(--body-font-weight, 400);
  position: absolute;
  right: 56.05%;
  left: 28.53%;
  width: 15.42%;
  bottom: 13.77%;
  top: 80.17%;
  height: 6.06%;
}
.location {
  color: #ffffff;
  text-align: left;
  font-family: "WorkSans-Bold", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  right: 62.3%;
  left: 28.53%;
  width: 9.17%;
  bottom: 29.48%;
  top: 64.74%;
  height: 5.79%;

}
.group-822 {
  width: 233px;
  height: 233px;
  position: static;
}
.rectangle-132 {
  background: var(--accent, #bfd2f8);
  border-radius: 5px;
  border-style: solid;
  border-color: #e4f5ff;
  border-width: 1px;
  width: 23.49%;
  height: 64.19%;
  position: absolute;
  right: 76.51%;
  left: 0%;
  bottom: 0%;
  top: 35.81%;
}
.group-772 {
  width: 118px;
  height: 131px;
  position: static;
}
.group-1882 {
  width: 4.05%;
  height: 10.52%;
  position: absolute;
  right: 93.33%;
  left: 2.62%;
  bottom: 39.34%;
  top: 50.14%;
  overflow: visible;
}
.group-2002 {
  width: 114px;
  height: 78px;
  position: static;
}
._254-717-783-146-254-7 {
  color: #000000;
  text-align: left;
  font-family: var(--body-font-family, "WorkSans-Regular", sans-serif);
  font-size: var(--body-font-size, 16px);
  line-height: var(--body-line-height, 140%);
  font-weight: var(--body-font-weight, 400);
  position: absolute;
  right: 85.48%;
  left: 3.02%;
  width: 11.49%;
  bottom: 13.77%;
  top: 80.17%;
  height: 6.06%;
}
.emergency2 {
  color: var(--primary, #000000);
  text-align: left;
  font-family: "WorkSans-Bold", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  right: 85.58%;
  left: 3.02%;
  width: 11.39%;
  bottom: 29.48%;
  top: 64.74%;
  height: 5.79%;
}
.group-83 {
  width: 233px;
  height: 233px;
  position: static;
}
.rectangle-133 {
  background: var(--accent, #bfd2f8);
  border-radius: 5px;
  border-style: solid;
  border-color: #e4f5ff;
  border-width: 1px;
  width: 23.49%;
  height: 64.19%;
  position: absolute;
  right: 25.5%;
  left: 51.01%;
  bottom: 0%;
  top: 35.81%;
}
.group-773 {
  width: 126px;
  height: 120px;
  position: static;
}
.group-202 {
  width: 3.57%;
  height: 8.13%;
  position: absolute;
  right: 42.32%;
  left: 54.11%;
  bottom: 40.36%;
  top: 51.52%;
  overflow: visible;
}
.group-2003 {
  width: 126px;
  height: 72px;
  position: static;
}
.dnx-gmil-com {
  color: #000000;
  text-align: left;
  font-family: var(--body-font-family, "WorkSans-Regular", sans-serif);
  font-size: var(--body-font-size, 16px);
  line-height: var(--body-line-height, 140%);
  font-weight: var(--body-font-weight, 400);
  position: absolute;
  right: 34.38%;
  left: 54.03%;
  width: 11.59%;
  bottom: 21.21%;
  top: 72.73%;
  height: 6.06%;
}
.medin-gmail-com {
  color: #000000;
  text-align: left;
  font-family: var(--small-font-family, "WorkSans-Regular", sans-serif);
  font-size: var(--small-font-size, 14px);
  font-weight: var(--small-font-weight, 400);
  position: absolute;
  right: 33.27%;
  left: 54.03%;
  width: 12.7%;
  bottom: 15.43%;
  top: 80.17%;
  height: 4.41%;
}
.email {
  color: #000000;
  text-align: left;
  font-family: "WorkSans-Bold", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  right: 40.22%;
  left: 54.03%;
  width: 5.75%;
  bottom: 29.48%;
  top: 64.74%;
  height: 5.79%;
}
.group-84 {
  width: 233px;
  height: 233px;
  position: static;
}
.rectangle-134 {
  background: #03337c;
  border-radius: 5px;
  border-style: solid;
  border-color: #e4f5ff;
  border-width: 1px;
  width: 23.49%;
  height: 64.19%;
  position: absolute;
  right: 0%;
  left: 76.51%;
  bottom: 0%;
  top: 35.81%;
}
.group-774 {
  width: 185px;
  height: 127px;
  position: static;
}
.group-177 {
  width: 3.02%;
  height: 8.26%;
  position: absolute;
  right: 17.37%;
  left: 60.6%;
  bottom: 40.5%;
  top: 51.24%;
  overflow: visible;
}
.group-2004 {
  width: 185px;
  height: 78px;
  position: static;
}
.mon-sat-09-00-20-00 {
  color: #ffffff;
  text-align: left;
  font-family: var(--body-font-family, "WorkSans-Regular", sans-serif);
  font-size: var(--body-font-size, 16px);
  line-height: var(--body-line-height, 140%);
  font-weight: var(--body-font-weight, 400);
  position: absolute;
  right: 3.53%;
  left: 79.54%;
  width: 16.94%;
  bottom: 21.21%;
  top: 72.73%;
  height: 6.06%;
}
.sunday-emergency-only {
  color: #ffffff;
  text-align: left;
  font-family: var(--body-font-family, "WorkSans-Regular", sans-serif);
  font-size: var(--body-font-size, 16px);
  line-height: var(--body-line-height, 140%);
  font-weight: var(--body-font-weight, 400);
  position: absolute;
  right: 1.81%;
  left: 79.54%;
  width: 18.65%;
  bottom: 13.77%;
  top: 80.17%;
  height: 6.06%;
}
.working-hours {
  color: #ffffff;
  text-align: left;
  font-family: "WorkSans-Bold", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  right: 4.64%;
  left: 79.54%;
  width: 15.83%;
  bottom: 29.48%;
  top: 60.74%;
  height: 5.79%;
}
.rectangle-14 {
  background: #ddf1f0;
  width: 1440px;
  height: 62px;
  position: absolute;
  left: 0px;
  top: 1778px;
}
.follow-us {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.5px;
  font-weight: 400;
  position: absolute;
  left: 1173px;
  top: 1798px;
  width: 105px;
  height: 23px;
}
.facebook {
  width: 20px;
  height: 19px;
  position: absolute;
  left: 1305px;
  top: 1800px;
  overflow: visible;
}
.instagram {
  width: 20px;
  height: 19px;
  position: absolute;
  left: 1334px;
  top: 1800px;
  overflow: visible;
}
.prime-twitter {
  width: 20px;
  height: 19px;
  position: absolute;
  left: 1363px;
  top: 1800px;
  overflow: hidden;
}
.group {
  height: auto;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.mdi-linkedin {
  width: 20px;
  height: 19px;
  position: absolute;
  left: 1392px;
  top: 1800px;
  overflow: visible;
}
.rectangle-20 {
  background: linear-gradient(
    0deg,
    rgba(228, 245, 255, 0) 0%,
    rgba(228, 245, 255, 1) 100%
  );
  width: 1445px;
  height: 236px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.group-1 {
  position: absolute;
  inset: 0;
}
.rectangle-2 {
  background: #03337c;
  width: 50.78px;
  height: 6.03px;
  position: absolute;
  left: 31px;
  top: 41px;
}
.rectangle-32 {
  background: #03337c;
  width: 50.78px;
  height: 6.03px;
  position: absolute;
  left: 31px;
  top: 51.33px;
}
.rectangle-42 {
  background: #03337c;
  width: 50.78px;
  height: 6.03px;
  position: absolute;
  left: 31px;
  top: 60.8px;
}
.poliklinik-x {
  color: #03337c;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 40px;
  line-height: 24px;
  letter-spacing: 0.5px;
  font-weight: 700;
  position: absolute;
  left: 249px;
  top: 47px;
}
.group-3 {
  position: absolute;
  inset: 0;
}
.ellipse-12 {
  background: #03337c;
  border-radius: 50%;
  width: 77px;
  height: 77px;
  position: absolute;
  left: 127px;
  top: 16px;
  box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.group-2 {
  width: 50.84px;
  height: 50.84px;
  position: static;
}
.rectangle-15 {
  background: #ffffff;
  width: 60.37px;
  height: 11.53px;
  position: absolute;
  left: 139.94px;
  top: 71.62px;
  transform-origin: 0 0;
  transform: rotate(-45deg) scale(1, 1);
}
.rectangle-16 {
  background: #ffffff;
  width: 60.37px;
  height: 11.53px;
  position: absolute;
  left: 148.09px;
  top: 28.94px;
  transform-origin: 0 0;
  transform: rotate(45deg) scale(1, 1);
}
.search-bar {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 290px;
  height: 34px;
  position: absolute;
  left: 1019px;
  top: 41px;
}
.content {
  background: var(--system-materials-sm-l-thick, rgba(250, 250, 250, 0.93));
  border-radius: 10px;
  opacity: 0.8;
  padding: 8px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 36px;
  position: relative;
}
.magnifyingglass {
  flex-shrink: 0;
  width: 28px;
  height: 28px;
  position: relative;
  overflow: hidden;
}
.magnifyingglass2 {
  color: var(--label-colors-lc-l-secondary, rgba(60, 60, 67, 0.6));
  text-align: center;
  font-family: "SfProDisplay-Medium", sans-serif;
  font-size: 18px;
  line-height: 50px;
  font-weight: 500;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.placeholder-label {
  color: var(--label-colors-lc-l-secondary, rgba(60, 60, 67, 0.6));
  text-align: left;
  font-family: var(
    --default-size-body-font-family,
    "SfProText-Regular",
    sans-serif
  );
  font-size: var(--default-size-body-font-size, 17px);
  line-height: var(--default-size-body-line-height, 22px);
  letter-spacing: var(--default-size-body-letter-spacing, -0.41px);
  font-weight: var(--default-size-body-font-weight, 400);
  position: relative;
  flex: 1;
}
.group-216 {
  position: absolute;
  inset: 0;
}
.rectangle-17 {
  background: rgba(217, 217, 217, 0.7);
  border-radius: 36px;
  width: 119px;
  height: 29px;
  position: absolute;
  left: 560px;
  top: 44px;
}
.beranda {
  color: #03337c;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.5px;
  font-weight: 700;
  position: absolute;
  left: 561px;
  top: 46px;
  width: 115px;
  height: 19px;
}
.group-217 {
  position: absolute;
  inset: 0;
}
.rectangle-18 {
  background: rgba(217, 217, 217, 0.7);
  border-radius: 36px;
  width: 119px;
  height: 29px;
  position: absolute;
  left: 707px;
  top: 44px;
}
.layanan {
  color: #03337c;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.5px;
  font-weight: 700;
  position: absolute;
  left: 717px;
  top: 46px;
  width: 103px;
  height: 21px;
}
.group-218 {
  position: absolute;
  inset: 0;
}
.rectangle-19 {
  background: rgba(217, 217, 217, 0.7);
  border-radius: 36px;
  width: 119px;
  height: 29px;
  position: absolute;
  left: 864px;
  top: 44px;
}
.informasi {
  color: #03337c;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.5px;
  font-weight: 700;
  position: absolute;
  left: 861px;
  top: 46px;
  width: 122px;
  height: 24px;
}
.ellipse {
  border-radius: 50%;
  width: 64px;
  height: 64px;
  position: absolute;
  left: 1344px;
  top: 28px;
  object-fit: cover;
}
.group2 {
  width: 2.47%;
  height: 1.6%;
  position: absolute;
  right: 29.34%;
  left: 68.19%;
  bottom: 18.83%;
  top: 79.57%;
  overflow: visible;
}