body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 20px;
  background: url('/Perawat/img/mount-elizabeth-novena-rekomendasi-rumah-sakit-singapura-kavacare-2.png') center/cover no-repeat;
}

.rectangle-20 {
  background: linear-gradient(
    0deg,
    rgba(228, 245, 255, 0) 0%,
    rgba(228, 245, 255, 1) 100%
  );
  width: 100vw;
  height: 130px;
  position: absolute;
  left: 0;
  bottom: 75px;
}

.poliklinik-x {
  color: #03337c;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 40px;
  line-height: 24px;
  letter-spacing: 0.5px;
  font-weight: 700;
  position: absolute;
  left: 200px;
  top: 47px;
}
.rectangle-14 {
  background: #ddf1f0;
  width: 100vw;
  height: 62px;
  left: 0;
  position: absolute; /* Tetap di posisi bawah layar */
  bottom: 0;       /* Posisi dari bawah */
}
.ic-sharp-call {
  width: 24px;
  height: 23px;
  position: absolute;
  left: 28px;
  overflow: visible;
  bottom: 20px;
}
.call-center-081234567890 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.5px;
  font-weight: 400;
  position: absolute;
  left: 64px;
  bottom: 20px;
  width: 280px;
  height: 23px;
}
.ic-sharp-call2 {
  width: 24px;
  height: 23px;
  position: absolute;
  left: 375px;
  bottom: 20px;
  overflow: visible;
}
.customer-call-center-022-82558000 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.5px;
  font-weight: 400;
  position: absolute;
  left: 411px;
  bottom: 20px;
  width: 382px;
  height: 23px;
}

.group-3 {
  position: absolute;
  inset: 0;
}
.ellipse-1 {
  background: #03337c;
  border-radius: 50%;
  width: 77px;
  height: 77px;
  position: absolute;
  left: 60px;
  top: 16px;
  box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.group-2 {
  width: 50.84px;
  height: 50.84px;
  position: static;
}
.rectangle-15 {
  background: #ffffff;
  width: 60.37px;
  height: 11.53px;
  position: absolute;
  left: 72px;
  top: 71.62px;
  transform-origin: 0 0;
  transform: rotate(-45deg) scale(1, 1);
}
.rectangle-16 {
  background: #ffffff;
  width: 60.37px;
  height: 11.53px;
  position: absolute;
  left: 82px;
  top: 28.94px;
  transform-origin: 0 0;
  transform: rotate(45deg) scale(1, 1);
}

/*janji temu */
.ellipse-3 {
  background: #03337c;
  border-radius: 50%;
  width: 96px;
  height: 96px;
  position: absolute;
  left: 400px;
  bottom: 100px ;
  overflow: visible;
}

.mask-group {
  height: auto;
  position: absolute;
  left: 425px;
  bottom: 130px ;
  overflow: visible;
}

.janji-temu {
  color: #03337c;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.5px;
  font-weight: 700;
  position: absolute;
  left: 400px;
  bottom: 70px;
}

/* jadwal dokter */
.group-46 {
  height: auto;
  position: absolute;
  left: 150px;
  bottom: 100px;
  overflow: visible;
}
.jadwal-dokter {
  color: #03337c;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.5px;
  font-weight: 700;
  position: absolute;
  left: 130px;
  bottom: 70px;
}

/* obat */
.ellipse-11 {
  background: #03337c;
  border-radius: 50%;
  width: 96px;
  height: 96px;
  position: absolute;
  right: 680px; /* Posisi lebih kanan */
  bottom: 100px;  /* Posisi lebih bawah */
  overflow: visible;
}
.vector11 {
  width: 45px;
  height: 45px;
  position: absolute;
  right: 700px; /* Posisi lebih kanan */
  bottom: 125px;  /* Posisi lebih bawah */
  overflow: visible;
}
.obat {
  color: #03337c;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.5px;
  font-weight: 700;
  position: absolute;
  right: 680px;
  bottom: 70px;
}

/* faq */
.ellipse-7 {
  background: #03337c;
  border-radius: 50%;
  width: 96px;
  height: 96px;
  position: absolute;
  right: 450px; /* Posisi lebih kanan */
  bottom: 100px;  /* Posisi lebih bawah */
  overflow: visible;
}
.vector3 {
  width: 45px;
  height: 45px;
  position: absolute;
  right: 475px; /* Posisi lebih kanan */
  bottom: 125px;  /* Posisi lebih bawah */
  overflow: visible;
}
.faq {
  color: #03337c;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.5px;
  font-weight: 700;
  position: absolute;
  right: 475px;
  bottom: 70px;
}

/* pembayaran */
.ellipse-10 {
  background: #03337c;
  border-radius: 50%;
  width: 96px;
  height: 96px;
  position: absolute;
  right: 250px; /* Posisi lebih kanan */
  bottom: 100px;  /* Posisi lebih bawah */
  overflow: visible;
}
.vector10 {
  width: 75px;
  height: 75px;
  position: absolute;
  right: 260px; /* Posisi lebih kanan */
  bottom: 110px;  /* Posisi lebih bawah */
  overflow: visible;
}
.pembayaran {
  color: #03337c;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.5px;
  font-weight: 700;
  position: absolute;
  right: 230px;
  bottom: 70px;
}

/* beranda */
.beranda {
  color: #03337c;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.5px;
  font-weight: 700;
  position: absolute;
  left: 520px;
  top: 46px;
  width: 115px;
  height: 19px;
}
.rectangle-17 {
  background: rgba(217, 217, 217, 0.7);
  border-radius: 36px;
  width: 119px;
  height: 29px;
  position: absolute;
  left: 520px;
  top: 44px;
}

/* informasi */
.informasi {
  color: #03337c;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.5px;
  font-weight: 700;
  position: absolute;
  left: 670px;
  top: 46px;
  width: 122px;
  height: 24px;
}
.rectangle-19 {
  background: rgba(217, 217, 217, 0.7);
  border-radius: 36px;
  width: 119px;
  height: 29px;
  position: absolute;
  left: 670px;
  top: 44px;
}

.ellipse,
.ellipse * {
  box-sizing: border-box;
}
.ellipse {
  border-radius: 50%;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 50px;
  height: 50px;
  position: absolute;
  object-fit: cover;
  right: 50px;
  top: 35px;
}