.catat-rekam-medis,
.catat-rekam-medis * {
  box-sizing: border-box;
}
.catat-rekam-medis {
  background: #ffffff;
  height: 1700px;
  position: relative;
  overflow: hidden;
}
.rectangle-105 {
  background: linear-gradient(
    0deg,
    rgba(228, 245, 255, 0) 0%,
    rgba(228, 245, 255, 1) 100%
  );
  width: 100%;
  height: 236px;
  position: absolute;
  /* left: -3px; */
  top: 0px;
}
.group-6 {
  position: absolute;
  inset: 0;
}
.poliklinik-x {
  color: #03337c;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 40px;
  line-height: 24px;
  letter-spacing: 0.5px;
  font-weight: 700;
  position: absolute;
  left: 254px;
  top: 47px;
}
.group-7 {
  position: absolute;
  inset: 0;
}
.ellipse-1 {
  background: #03337c;
  border-radius: 50%;
  width: 77px;
  height: 77px;
  position: absolute;
  left: 132px;
  top: 16px;
  box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.group-2 {
  width: 50.84px;
  height: 50.84px;
  position: static;
}
.rectangle-15 {
  background: #ffffff;
  width: 60.37px;
  height: 11.53px;
  position: absolute;
  left: 144.94px;
  top: 71.62px;
  transform-origin: 0 0;
  transform: rotate(-45deg) scale(1, 1);
}
.rectangle-16 {
  background: #ffffff;
  width: 60.37px;
  height: 11.53px;
  position: absolute;
  left: 153.09px;
  top: 28.94px;
  transform-origin: 0 0;
  transform: rotate(45deg) scale(1, 1);
}
.search-bar {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 290px;
  height: 34px;
  position: absolute;
  left: 1024px;
  top: 41px;
}
.content {
  background: var(--system-materials-sm-l-thick, rgba(250, 250, 250, 0.93));
  border-radius: 10px;
  opacity: 0.8;
  padding: 0px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 36px;
  position: relative;
}
.magnifyingglass {
  flex-shrink: 0;
  width: 28px;
  height: 28px;
  position: relative;
  overflow: hidden;
}
.magnifyingglass2 {
  color: var(--label-colors-lc-l-secondary, rgba(60, 60, 67, 0.6));
  text-align: center;
  font-family: "SfProDisplay-Medium", sans-serif;
  font-size: 18px;
  line-height: 50px;
  font-weight: 500;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.placeholder-label {
  color: var(--label-colors-lc-l-secondary, rgba(60, 60, 67, 0.6));
  text-align: left;
  font-family: var(
    --default-size-body-font-family,
    "SfProText-Regular",
    sans-serif
  );
  font-size: var(--default-size-body-font-size, 17px);
  line-height: var(--default-size-body-line-height, 22px);
  letter-spacing: var(--default-size-body-letter-spacing, -0.41px);
  font-weight: var(--default-size-body-font-weight, 400);
  position: relative;
  flex: 1;
}
.beranda {
  color: #03337c;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.5px;
  font-weight: 700;
  position: absolute;
  left: 566px;
  top: 46px;
  width: 115px;
  height: 19px;
}
.ellipse {
  border-radius: 50%; /* Membuat bentuk lingkaran */
  width: 64px;
  height: 64px;
  position: absolute;
  right: 28px; /* Jarak elemen dari tepi kanan layar */
  top: 28px; /* Jarak elemen dari atas */
  object-fit: cover;
}

.sub-head {
  width: 1440px;
  height: 303px;
  position: absolute;
  left: 0px;
  top: 118px;
}
.rectangle-31 {
  width: 100vw; /* Lebar penuh layar */
  height: 300px; /* Tinggi menyesuaikan proporsi elemen */
  position: absolute;
  left: 0; /* Pastikan elemen mulai dari tepi kiri */
  top: 0; /* Pastikan elemen mulai dari atas */
  object-fit: cover; /* Menjaga proporsi elemen */
}

.rectangle-42 {
  background: rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.group-203 {
  position: absolute;
  inset: 0;
}

.ellipse-12 {
  background: var(--accent, #bfd2f8);
  border-radius: 50%;
  opacity: 0.5;
  width: 225.53px;
  height: 225.53px;
  position: absolute;
  right: -113.13px;
  top: 85.48px;
}
.ellipse-2 {
  background: var(--secondary, #159eec);
  border-radius: 50%;
  opacity: 0.3;
  width: 210.55px;
  height: 210.55px;
  position: absolute;
  left: -104.83px;
  top: -104.83px;
}
.group-184 {
  width: 1440px;
  height: 9.7px;
  position: static;
}
.rectangle-76 {
  background: var(--primary, #1f2b6c);
  width: 61.29%;
  height: 3.2%;
  position: absolute;
  right: 16.33%;
  left: 22.38%;
  bottom: 0%;
  top: 96.8%;
}
.rectangle-78 {
  background: var(--secondary, #159eec);
  width: 16.33%;
  height: 3.2%;
  position: absolute;
  right: 0%;
  left: 83.67%;
  bottom: 0%;
  top: 96.8%;
}
.rectangle-77 {
  background: var(--accent, #bfd2f8);
  width: 22.38%;
  height: 3.2%;
  position: absolute;
  right: 77.62%;
  left: 0%;
  bottom: 0%;
  top: 96.8%;
}
.group-108 {
  position: absolute;
  inset: 0;
}
.about-us {
  color: var(--primary, #1f2b6c);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 42.28610610961914px;
  font-weight: 400;
  position: absolute;
  right: 56.59%;
  left: 13.69%;
  width: 29.72%;
  bottom: 44.37%;
  top: 38.8%;
  height: 16.83%;
}
.home-about {
  color: var(--primary, #1f2b6c);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 15.85728931427002px;
  line-height: 140%;
  font-weight: 400;
  position: absolute;
  right: 74.71%;
  left: 13.69%;
  width: 11.6%;
  bottom: 62.34%;
  top: 30.4%;
  height: 7.26%;
}
.rectangle-1052 {
  width: 100vw;
  height: 55px;
  position: absolute;
  right: 20px;
  bottom: 0px;
  overflow: visible;
}
.social-container {
  position: absolute;
  right: 20px;
  bottom: 15px;
  display: flex;
  gap: 10px;    /* Jarak antar ikon */
  z-index: 100; /* Agar berada di atas elemen lain jika perlu */
}

.social-container img {
  width: 32px;  /* Ukuran ikon */
  height: 32px; /* Tinggi ikon */
  cursor: pointer;
}
.rectangle-102 {
  background: #1f2b6c;
  border-radius: 69.96px;
  border-style: solid;
  border-color: #dbefff;
  border-width: 0.47px;
  width: 1207px;
  height: 55px;
  position: absolute;
  left: 106px;
  top: 1363px;
}
.submit {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 17.23173713684082px;
  line-height: 150%;
  font-weight: 700;
  position: absolute;
  left: 685px;
  top: 1374px;
  width: 70px;
  height: 33px;
  -webkit-text-stroke: 1px #ffffff;
}
input.rectangle-89,
textarea.rectangle-115,
input.rectangle-113 {
  background: #ffffff;
  border-radius: 6.9px;
  border: 0.34px solid #000000;
  width: 951px;
  height: 36px;
  font-family: "Mulish-Regular", sans-serif;
  font-size: 15.021px;
  color: #344054;
  padding: 8px;
}

textarea.rectangle-115 {
  height: 288px;
  resize: none; /* Nonaktifkan perubahan ukuran jika tidak diperlukan */
}

input.rectangle-113 {
  width: 958px;
  height: 38px;
}

input::placeholder,
textarea::placeholder {
  color: #bbbbbb;
}

label {
  display: block;
  color: var(--gray-700, #344054);
  font-family: "Mulish-Regular", sans-serif;
  font-size: 19.569px;
  margin-bottom: 8px;
  line-height: 150%;
}

.form-container {
  position: relative;
  top: 360px;
  left: 239px;
}

.desc {
  font-family: "Mulish-Regular", sans-serif;
  font-size: 14px;
  color: #344054;
  margin-bottom: 16px;
  position: absolute;
  bottom: 410px;
  left: 245px;
}

.many-upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.upload {
  width: 48px;
  height: 48px;
  margin-bottom: 16px;
}

.frame-22 {
  text-align: center;
  border: 2px dashed #bbbbbb;
  border-radius: 8px;
  padding: 16px;
  position: absolute;
  top: 370px;
  right: 220px;
  width: 951px;
  height: 288px;
}

.drag-your-file-s-to-start-uploading {
  font-family: "Mulish-Regular", sans-serif;
  font-size: 14px;
  color: #bbbbbb;
  margin-bottom: 16px;
}

.divider {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}

.line-1,
.line-2 {
  height: 1px;
  width: 40%;
  background: #bbbbbb;
}

.text2 {
  margin: 0 8px;
  font-family: "Mulish-Regular", sans-serif;
  font-size: 14px;
  color: #bbbbbb;
}

.master-outline-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  font-family: "Mulish-Regular", sans-serif;
  font-size: 14px;
  color: white;
  background: #007bff;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  display: inline-block;
}

.button:hover {
  background: #0056b3;
}

.rectangle-109,
.rectangle-109 * {
  box-sizing: border-box;
}
.rectangle-109 {
  background: rgba(217, 217, 217, 0.7);
  border-radius: 36px;
  width: 119px;
  height: 29px;
  position: relative;
  left: 566px;
  top: -8px;
}
