.beranda-perawat,
.beranda-perawat * {
  box-sizing: border-box;
}
.beranda-perawat {
  background: #ffffff;
  height: 1640px;
  position: relative;
  overflow: hidden;
}
.mount-elizabeth-novena-rekomendasi-rumah-sakit-singapura-kavacare-2 {
  width: 100%;
  height: 100%;
  position: absolute;
  left: -5px;
  top: 0px;
  object-fit: cover;
}
.group-1 {
  position: absolute;
  inset: 0;
}
.rectangle-2 {
  background: #03337c;
  width: 50.78px;
  height: 6.03px;
  position: absolute;
  left: 33px;
  top: 41px;
}
.rectangle-3 {
  background: #03337c;
  width: 50.78px;
  height: 6.03px;
  position: absolute;
  left: 33px;
  top: 51.33px;
}
.rectangle-4 {
  background: #03337c;
  width: 50.78px;
  height: 6.03px;
  position: absolute;
  left: 33px;
  top: 60.8px;
}
.poliklinik-x {
  color: #03337c;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 40px;
  line-height: 24px;
  letter-spacing: 0.5px;
  font-weight: 700;
  position: absolute;
  left: 251px;
  top: 47px;
}
.rectangle-14 {
  background: #ddf1f0;
  width: 100%;
  height: 62px;
  position: absolute;
  left: 0px;
  top: 1575px;
}
.ic-sharp-call {
  width: 24px;
  height: 23px;
  position: absolute;
  left: 28px;
  top: 1590px;
  overflow: visible;
}
.call-center-081234567890 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.5px;
  font-weight: 400;
  position: absolute;
  left: 64px;
  top: 1590px;
  width: 280px;
  height: 23px;
}
.ic-sharp-call2 {
  width: 24px;
  height: 23px;
  position: absolute;
  left: 375px;
  top: 1590px;
  overflow: visible;
}
.customer-call-center-022-82558000 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.5px;
  font-weight: 400;
  position: absolute;
  left: 411px;
  top: 1590px;
  width: 382px;
  height: 23px;
}

.group-3 {
  position: absolute;
  inset: 0;
}
.ellipse-1 {
  background: #03337c;
  border-radius: 50%;
  width: 77px;
  height: 77px;
  position: absolute;
  left: 129px;
  top: 16px;
  box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.group-2 {
  width: 50.84px;
  height: 50.84px;
  position: static;
}
.rectangle-15 {
  background: #ffffff;
  width: 60.37px;
  height: 11.53px;
  position: absolute;
  left: 141.94px;
  top: 71.62px;
  transform-origin: 0 0;
  transform: rotate(-45deg) scale(1, 1);
}
.rectangle-16 {
  background: #ffffff;
  width: 60.37px;
  height: 11.53px;
  position: absolute;
  left: 150.09px;
  top: 28.94px;
  transform-origin: 0 0;
  transform: rotate(45deg) scale(1, 1);
}
.search-bar {
  padding: 10px;
  gap: 10px;
  align-items: center;
  justify-content: right;
  flex-shrink: 0;
  width: 479px;
  height: 36px; /* Pastikan ada tinggi untuk search bar */
  position: absolute; /* Ubah menjadi absolute */
  top: 40px; /* Jarak dari atas */
  right: 400px; /* Jarak dari kanan */
  overflow: hidden;
  background: white; /* Tambahkan background jika perlu */
  border-radius: 8px; /* Opsional: sudut membulat */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Opsional: efek bayangan */
}
.content {
  background: var(--system-materials-sm-l-thick, rgba(250, 250, 250, 0.93));
  border-radius: 10px;
  opacity: 0.8;
  padding: 8px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 36px;
  position: relative;
}
.magnifyingglass {
  flex-shrink: 0;
  width: 28px;
  height: 28px;
  position: relative;
  overflow: hidden;
}
.magnifyingglass2 {
  color: var(--label-colors-lc-l-secondary, rgba(60, 60, 67, 0.6));
  text-align: center;
  font-family: "SfProDisplay-Medium", sans-serif;
  font-size: 18px;
  line-height: 50px;
  font-weight: 500;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.placeholder-label {
  color: var(--label-colors-lc-l-secondary, rgba(60, 60, 67, 0.6));
  text-align: left;
  font-family: var(
    --default-size-body-font-family,
    "SfProText-Regular",
    sans-serif
  );
  font-size: var(--default-size-body-font-size, 17px);
  line-height: var(--default-size-body-line-height, 22px);
  letter-spacing: var(--default-size-body-letter-spacing, -0.41px);
  font-weight: var(--default-size-body-font-weight, 400);
  position: relative;
  flex: 1;
}
.rectangle-20 {
  background: linear-gradient(
    0deg,
    rgba(228, 245, 255, 0) 0%,
    rgba(228, 245, 255, 1) 100%
  );
  width: 100%;
  height: 236px;
  position: relative;
  left: -5px;
  top: 1290px;
}
.group-48 {
  position: absolute;
  inset: 0;
}
.rectangle-17 {
  background: rgba(217, 217, 217, 0.7);
  border-radius: 36px;
  width: 119px;
  height: 29px;
  position: absolute;
  left: 562px;
  top: 44px;
}
.beranda {
  color: #03337c;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.5px;
  font-weight: 700;
  position: absolute;
  left: 563px;
  top: 46px;
  width: 115px;
  height: 19px;
}
.group-46 {
  position: absolute;
  inset: 0;
}
.ellipse-2 {
  background: #03337c;
  border-radius: 50%;
  width: 96px;
  height: 96px;
  position: absolute;
  left: 2000px;
  top: 1400px;
}
.catat-informasi-pasien {
  color: #03337c;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.5px;
  font-weight: 700;
  position: absolute;
  left: 1950px;
  top: 1525px;
}
.data-pasien {
  color: #03337c;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.5px;
  font-weight: 700;
  position: absolute;
  left: 790px;
  top: 1525px;
}
.group-222 {
  position: absolute;
  inset: 0;
}
.ellipse-8 {
  background: #03337c;
  border-radius: 50%;
  width: 96px;
  height: 96px;
  position: absolute;
  left: 800px;
  top: 1400px;
}
.open-book {
  width: 68px;
  height: 75px;
  position: absolute;
  left: 815px;
  top: 1410px;
  object-fit: cover;
}
.hand-with-pen {
  width: 71px;
  height: 75px;
  position: absolute;
  left: 2010px;
  top: 1410px;
  object-fit: cover;
}
.social-container {
  position: fixed;
  left: 2500px;
  top: 1590px;
  display: flex;
  gap: 10px;    /* Jarak antar ikon */
  z-index: 100; /* Agar berada di atas elemen lain jika perlu */
}

.social-container img {
  width: 32px;  /* Ukuran ikon */
  height: 32px; /* Tinggi ikon */
  cursor: pointer;
}
.register {
  color: #03337c;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.5px;
  font-weight: 700;
  position: absolute;
  left: 2500px;
  top: 61px;
  width: 87px;
  height: 28px;
}

.line-1 {
  margin-top: -1px;
  border-style: solid;
  border-color: #03337c;
  border-width: 1px 0 0 0;
  width: 100px;
  height: 10px;
  position: absolute;
  left: 2500px;
  top: 57px;
}

.login {
  color: #03337c;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.5px;
  font-weight: 700;
  position: absolute;
  left: 2500px;
  top: 25px;
  width: 65px;
  height: 29px;
}
.material-symbols-search,
.material-symbols-search * {
  box-sizing: border-box;
}
.material-symbols-search {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}