<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"> 
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="Login/Login.css">
  
  
  <style>
   a,
   button,
   input,
   select,
   h1,
   h2,
   h3,
   h4,
   h5,
   * {
       box-sizing: border-box;
       margin: 0;
       padding: 0;
       border: none;
       text-decoration: none;
       background: none;
   
       -webkit-font-smoothing: antialiased;
   }
   
   menu, ol, ul {
       list-style-type: none;
       margin: 0;
       padding: 0;
   }
   </style>
  <title>Login</title>

</head>
<body>
  <div class="login">
    <div class="rectangle-21"></div>
    <div class="poliklinik-x">POLIKLINIK X</div>
    <div class="ellipse-1"></div>
    <div class="group-2">
      <div class="rectangle-15"></div>
      <div class="rectangle-16"></div>
    </div>
    <div class="rectangle-7"></div>
    <div class="group-31">
      <div class="group-1">
        <div class="sign-in-to-name">Sign in to name</div>
      </div>
    </div>
    <div class="group-32">
      <div class="phone-call-1">

        <img class="group" src="/Login/img/group0.svg" />

      </div>
      <div class="_022-82558000">022-82558000</div>
    </div>
    <div class="group-41">
      <div class="group-34">
        <div class="sign-in">Sign in</div>
        <div class="group-22">
          <div class="if-you-don-t-have-an-account-register">
            If you don’t have an account register
          </div>
          <div class="you-can-register-here">
            <span>
              <span class="you-can-register-here-span">You can</span>

              <span class="you-can-register-here-span2" style="cursor: pointer; color:  #02337c" onclick="navigateToRegister()" >
                Register here !</span>
            </span>
            <script>
              function navigateToRegister() {
                window.location.href = "http://localhost:8080/register";
              }
            </script>

          </div>
        </div>
      </div>
      <div class="group-40">
        <div class="group-38">

          <div class="group-37">
            <div class="email">Email</div>
            <div class="input-wrapper">
                <input 
                    type="email" 
                    name="email" 
                    placeholder="Enter your email address" 
                    th:value="${email}" 
                    class="email-input" />
            </div>
            <div class="rectangle-8"></div>
            <div class="message-1">
                <img class="group2" src="/Login/img/group1.svg" />
            </div>
        </div>
        
        <div class="group-36">
          <div class="password">Password</div>
          <div class="input-wrapper-password">
            <input 
                type="password" 
                name="password" 
                placeholder="Enter your password" 
                th:value="${password}" 
                class="password-input" />
          </div>
          <div class="padlock-1">
            <img class="group3" src="/Login/img/group2.svg" />
            <img class="group4" src="/Login/img/group3.svg" />
        </div>
          <div class="rectangle-9"></div>
          <div class="invisible-1">
              <img class="group5" src="/Login/img/group4.svg" />
          </div>
      </div>      
          
        </div>
        <div class="group-24">
          <div class="rectangle-5"></div>
        </div>
        <div class="group-39">
          <div class="group-45">
            <form action="/home" method="post" class="login-form">
              <div class="rectangle-10"></div>
              <button type="submit" class="login2">Login</button>
            </form>
          </div>

        </div>
      </div>
    </div>
    <img
      class="a-1-b-4-dbfbcd-8-dadbb-4-dcc-87-f-8-f-26-aa-038-removebg-preview-1"

      src="/Login/img/a-1-b-4-dbfbcd-8-dadbb-4-dcc-87-f-8-f-26-aa-038-removebg-preview-10.png"
    />

  </div>
  
</body>
</html>