<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="styleguide.css" />
    <link rel="stylesheet" href="../../static/Perawat/CatatInformasiPasien.css" />
  </head>
  <body>
    <div class="mencatat-informasi">
      <div class="div">
        <div class="overlap">
          <div class="rectangle"></div>
          <div class="rectangle-2"></div>
          <div class="group">
            <div class="rectangle-3"></div>
            <div class="rectangle-4"></div>
            <div class="rectangle-5"></div>
          </div>
          <div class="text-wrapper">POLIKLINIK X</div>
          <div class="group-wrapper">
            <div class="overlap-group-wrapper">
              <div class="overlap-group">
                <div class="rectangle-6"></div>
                <div class="rectangle-7"></div>
              </div>
            </div>
          </div>
          <img class="ellipse" src="img/ellipse.png" />
          <div class="text-wrapper-2">Beranda</div>
          <div class="search-bar">
            <div class="content">
              <div class="magnifyingglass"><div class="magnifyingglass-2">􀊫</div></div>
              <div class="placeholder-label">Search</div>
            </div>
          </div>
          <div class="sub-head">
            <div class="overlap-group-2">
              <img class="img" src="img/rectangle-3.png" />
              <div class="rectangle-8"></div>
              <div class="div-wrapper">
                <div class="overlap-group-2">
                  <div class="frame">
                    <div class="ellipse-2"></div>
                    <div class="ellipse-3"></div>
                  </div>
                  <div class="group-2">
                    <div class="rectangle-9"></div>
                    <div class="rectangle-10"></div>
                    <div class="rectangle-11"></div>
                  </div>
                </div>
              </div>
              <div class="group-3">
                <div class="about-us">Catat Informasi Pasien</div>
                <p class="home-about">Beranda / Catat Diagnosa Pasien</p>
              </div>
            </div>
          </div>
        </div>
        <div class="overlap-2"><div class="text-wrapper-3">SUBMIT</div></div>
        <div class="text-wrapper-4">Nomor rekam medis</div>
        <div class="overlap-3">
          <div class="rectangle-12"></div>
          <div class="text-wrapper-5">Masukkan nomor rekam medis</div>
        </div>
        <div class="text-wrapper-6">Keluhan yang dirasakan pasien</div>
        <div class="overlap-4"><div class="text-wrapper-7">Masukan diagnosa pasien</div></div>
        <div class="text-wrapper-8">Gol. Darah pasien</div>
        <div class="text-wrapper-9">Berat badan</div>
        <div class="overlap-5">
          <div class="rectangle-13"></div>
          <p class="text-wrapper-10">Masukan berat badan pasien (kg)</p>
        </div>
        <div class="text-wrapper-11">Nama dokter yang dikunjungi</div>
        <div class="overlap-6">
          <div class="rectangle-12"></div>
          <p class="p">Masukan nama dokter yang ingin dikunjngi</p>
        </div>
        <div class="text-wrapper-12">Jadwal dokter yang dikunjungi</div>
        <div class="overlap-7">
          <div class="rectangle-12"></div>
          <p class="p">Masukan jadwal yang anda pilih</p>
        </div>
        <div class="text-wrapper-13">Suhu</div>
        <div class="overlap-8">
          <div class="rectangle-13"></div>
          <div class="text-wrapper-10">Masukan suhu pasien (°C)</div>
        </div>
        <div class="text-wrapper-14">Tekanan Darah</div>
        <div class="overlap-9">
          <div class="rectangle-13"></div>
          <div class="text-wrapper-10">Masukan tekanan darah pasien</div>
        </div>
        <div class="text-wrapper-15">Tinggi badan</div>
        <div class="overlap-10">
          <div class="rectangle-13"></div>
          <div class="text-wrapper-10">Masukan tinggi pasien (cm)</div>
        </div>
        <div class="text-wrapper-16">A+</div>
        <div class="rectangle-14"></div>
        <div class="text-wrapper-17">O+</div>
        <div class="overlap-11">
          <div class="rectangle-15"></div>
          <div class="text-wrapper-18">AB+</div>
        </div>
        <div class="rectangle-16"></div>
        <div class="text-wrapper-19">B+</div>
        <div class="rectangle-17"></div>
        <div class="text-wrapper-20">A-</div>
        <div class="rectangle-18"></div>
        <div class="text-wrapper-21">O-</div>
        <div class="overlap-12">
          <div class="rectangle-15"></div>
          <div class="text-wrapper-18">AB-</div>
        </div>
        <div class="rectangle-19"></div>
        <div class="text-wrapper-22">B-</div>
        <div class="rectangle-20"></div>
        <div class="overlap-13">
          <div class="text-wrapper-23">Follow us :</div>
          <img class="vector" src="img/vector.svg" />
          <img class="vector-2" src="img/image.svg" />
          <img class="prime-twitter" src="img/prime-twitter.svg" />
          <img class="mdi-linkedin" src="img/mdi-linkedin.svg" />
        </div>
      </div>
    </div>
    <h3>Transaction List</h3>
<table>
    <tr>
        <th>Pasien</th>
        <th>Dokter</th>
        <th>Hari</th>
        <th>Jam</th>
        <th>Tarif</th>
    </tr>
    <tr th:each="transaksi : ${transaksis}">
        <td th:text="${transaksi.pasien.nama}"></td>
        <td th:text="${transaksi.namaDokter}"></td>
        <td th:text="${transaksi.hari}"></td>
        <td th:text="${transaksi.jam}"></td>
        <td th:text="${transaksi.tarif}"></td>
    </tr>
</table>
    <form th:action="@{/catatInformasiPasienInput}" method="post">
      <label for="idTransaksi">Pilih Transaksi:</label>
      <select id="idTransaksi" name="idTransaksi">
          <option th:each="transaksi : ${transactions}" th:value="${transaksi.idTransaksi}" 
                  th:text="${transaksi.pasien.nama} + ' - ' + ${transaksi.hari}"></option>
      </select><br>
  
      <label for="keluhan">Keluhan:</label>
      <textarea id="keluhan" name="keluhan" required></textarea><br>
  
      <button type="submit">Update Keluhan</button>
  </form>
  
  </body>
</html>
