<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"></html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Perawat/CatatRekamMedis.css" />
  </head>
  <body>
    <div class="catat-rekam-medis">
      <div class="rectangle-105"></div>
      <div class="poliklinik-x">POLIKLINIK X</div>
      <div class="ellipse-1"></div>
      <div class="group-2">
        <div class="rectangle-15"></div>
        <div class="rectangle-16"></div>
      </div>
      <div class="rectangle-109"></div>
      <!-- Beranda Button -->
      <div class="beranda" style="cursor: pointer; color: inherit;" onclick="navigateToSesudahLoginPerawat()">
        Beranda
      </div>
      <script>
        function navigateToSesudahLoginPerawat() {
          window.location.href = "http://localhost:8080/perawat/sesudahLoginPerawat";
        }
      </script>
      <img class="ellipse" src="/Perawat/img/account.png" alt="Ikon Akun" 
        style="cursor: pointer;" onclick="confirmLogout()" />

        <script>
          function confirmLogout() {
            const userConfirmed = confirm("Apakah anda ingin log out?");
            if (userConfirmed) {
              // Arahkan ke halaman logout
              window.location.href = "http://localhost:8080/perawat/sebelumLoginPerawat";
            }
          }
        </script>
      <div class="sub-head">
        <img class="rectangle-31" src="/Perawat/img/rectangle-31.png" alt="Rectangle 31" />
        <div class="rectangle-42"></div>
        <div class="frame-2">
          <div class="ellipse-12"></div>
          <div class="ellipse-2"></div>
        </div>
        <div class="group-184">
          <div class="rectangle-76"></div>
          <div class="rectangle-78"></div>
          <div class="rectangle-77"></div>
        </div>
        <div class="about-us">Catat Rekam Medis</div>
        <div class="home-about">Beranda / Data Pasien</div>
      </div>
      <img class="rectangle-1052" src="/Perawat/img/rectangle-1051.svg" alt="Rectangle 1051" />
      
      <div class="social-container">    
        <div class="follow-us" th:text="'Follow us :'"></div>
        <img class="vector" src="/Perawat/img/vector0.svg" alt="Facebook" />
        <img class="vector2" src="/Perawat/img/vector1.svg" alt="Instagram" />
        <img class="group" src="/Perawat/img/group0.svg" alt="Twitter" />
        <img class="mdi-linkedin" th:src="@{/Perawat/img/mdi-linkedin0.svg}" alt="LinkedIn" />
      </div>

      <div class="rectangle-102"></div>
      
      <!-- Submit Button -->
      <div class="submit" style="cursor: pointer; color: white;" onclick="navigateToInformasiPasien()">
        Submit
      </div>
      <script>
        function navigateToInformasiPasien() {
          window.location.href = "http://localhost:8080/perawat/catatRekamMedis";
        }
      </script>

      <div class="form-container">
        <label class="nomor-rekam-medis" for="nomorRekamMedis">Nomor Rekam Medis</label>
        <input class="rectangle-89" id="nomorRekamMedis" type="text" placeholder="Masukkan nomor rekam medis" />
      
        <label class="riwayat-penyakit" for="riwayatPenyakit">Riwayat Penyakit</label>
        <textarea class="rectangle-115" id="riwayatPenyakit" placeholder="Masukkan riwayat penyakit"></textarea>
      
        <label class="informasi-alergi" for="informasiAlergi">Informasi Alergi</label>
        <input class="rectangle-113" id="informasiAlergi" type="text" placeholder="Masukkan informasi alergi" />
      
        <label class="hasil-lab" for="hasilLab">Hasil Lab</label>
      </div>
      
      
      <div class="many-upload">
    
        <div class="frame-22">
          <img class="upload" src="/Perawat/img/upload0.svg" alt="Upload" />
          <div class="text">
            <div class="drag-your-file-s-to-start-uploading">
              Drag your file(s) to start uploading
            </div>
          </div>
          <div class="divider">
            <div class="line-1"></div>
            <div class="text2">OR</div>
            <div class="line-2"></div>
          </div>
          <div class="outline">
            <div class="master-outline-button">
              <div class="button">Browse files</div>
            </div>
          </div>
        </div>
      </div>
      <div class="desc">Only support .jpg, .png, .svg, and zip files</div>
    </div>    
  </body>
</html>