<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="styleguide.css" />
    <link rel="stylesheet" href="../../static/Perawat/CatatRekamMedis.css" />
  </head>
  <body>
    <div class="catat-rekam-medis">
      <div class="div">
        <div class="overlap">
          <div class="rectangle"></div>
          <div class="group">
            <div class="rectangle-2"></div>
            <div class="rectangle-3"></div>
            <div class="rectangle-4"></div>
          </div>
          <div class="text-wrapper">POLIKLINIK X</div>
          <div class="group-wrapper">
            <div class="overlap-group-wrapper">
              <div class="overlap-group">
                <div class="rectangle-5"></div>
                <div class="rectangle-6"></div>
              </div>
            </div>
          </div>
          <div class="search-bar">
            <div class="content">
              <div class="magnifyingglass"><div class="magnifyingglass-2">􀊫</div></div>
              <div class="placeholder-label">Search</div>
            </div>
          </div>
          <div class="text-wrapper-2">Beranda</div>
          <img class="ellipse" src="img/ellipse.png" />
          <div class="sub-head">
            <div class="overlap-2">
              <div class="div-wrapper">
                <div class="overlap-group-2">
                  <div class="frame">
                    <div class="ellipse-2"></div>
                    <div class="ellipse-3"></div>
                  </div>
                  <div class="group-2">
                    <div class="rectangle-7"></div>
                    <div class="rectangle-8"></div>
                    <div class="rectangle-9"></div>
                  </div>
                </div>
              </div>
              <div class="group-3">
                <div class="about-us">Catatat Rekam Medis</div>
                <div class="home-about">Beranda / Data Pasien</div>
              </div>
            </div>
          </div>
        </div>
        <div class="overlap-3">
          <div class="text-wrapper-3">Follow us :</div>
          <img class="vector" src="img/image.svg" />
          <img class="img" src="img/vector.svg" />
          <img class="prime-twitter" src="img/prime-twitter.svg" />
          <img class="mdi-linkedin" src="img/mdi-linkedin.svg" />
        </div>
        <div class="overlap-4"><div class="text-wrapper-4">SUBMIT</div></div>
        <div class="text-wrapper-5">Nomor rekam medis</div>
        <div class="overlap-5">
          <div class="rectangle-10"></div>
          <div class="text-wrapper-6">Masukkan nomor rekam medis</div>
        </div>
        <div class="text-wrapper-7">Riwayat penyakit</div>
        <div class="overlap-6"><div class="text-wrapper-8">Masukkan riwayat penyakit</div></div>
        <div class="text-wrapper-9">hasil lab</div>
        <div class="text-wrapper-10">Informasi alergi</div>
        <div class="overlap-7">
          <div class="rectangle-11"></div>
          <div class="text-wrapper-11">Masukkan informasi alergi</div>
        </div>
        <p class="desc">Only support .jpg, .png and .svg and zip files</p>
        <div class="many-upload">
          <img class="upload" src="img/upload.svg" />
          <div class="frame-2">
            <div class="text"><p class="p">Drag your file(s) to start uploading</p></div>
            <div class="divider">
              <div class="line"></div>
              <div class="text-2">OR</div>
              <div class="line"></div>
            </div>
            <div class="outline">
              <div class="master-outline"><button class="button">Browse files</button></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
