<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="styleguide.css" />
    <link rel="stylesheet" href="../../static/Perawat/SebelumLoginPerawat.css" />
  </head>
  <body>
    <div class="beranda-perawat">
      <div class="overlap-wrapper">
        <div class="overlap">
          <img
            class="mount-elizabeth"
            src="img/mount-elizabeth-novena-rekomendasi-rumah-sakit-singapura-kavacare-2.png"
          />
          <div class="group">
            <div class="rectangle"></div>
            <div class="div"></div>
            <div class="rectangle-2"></div>
          </div>
          <div class="text-wrapper">POLIKLINIK X</div>
          <div class="rectangle-3"></div>
          <img class="ic-sharp-call" src="img/image.svg" />
          <div class="text-wrapper-2">Call Center : 081234567890</div>
          <img class="img" src="img/ic-sharp-call.svg" />
          <p class="p">Customer Call Center : 022-82558000</p>
          <div class="text-wrapper-3">Follow us :</div>
          <img class="vector" src="img/vector.svg" />
          <img class="vector-2" src="img/vector-2.svg" />
          <img class="prime-twitter" src="img/prime-twitter.svg" />
          <img class="mdi-linkedin" src="img/mdi-linkedin.svg" />
          <div class="group-wrapper">
            <div class="overlap-group-wrapper">
              <div class="overlap-group">
                <div class="rectangle-4"></div>
                <div class="rectangle-5"></div>
              </div>
            </div>
          </div>
          <div class="search-bar">
            <div class="content">
              <div class="magnifyingglass"><div class="magnifyingglass-2">􀊫</div></div>
              <div class="placeholder-label">Search</div>
            </div>
          </div>
          <div class="rectangle-6"></div>
          <div class="div-wrapper">
            <div class="overlap-2"><div class="text-wrapper-4">Beranda</div></div>
          </div>
          <div class="group-2"></div>
          <div class="text-wrapper-5">Catat Informasi Pasien</div>
          <div class="text-wrapper-6">Data Pasien</div>
          <div class="group-3"></div>
          <img class="open-book" src="img/open-book.png" />
          <img class="hand-with-pen" src="img/hand-with-pen.png" />
        </div>
      </div>
    </div>
  </body>
</html>
