<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/Perawat/SesudahLoginPerawat.css}">
  
  <style>
   a, button, input, select, h1, h2, h3, h4, h5, * {
       box-sizing: border-box;
       margin: 0;
       padding: 0;
       border: none;
       text-decoration: none;
       background: none;
       -webkit-font-smoothing: antialiased;
   }
   
   menu, ol, ul {
       list-style-type: none;
       margin: 0;
       padding: 0;
   }
  </style>
  <title>Poliklinik</title>
</head>
<body>
  <div class="beranda-perawat">
    <!-- Nama Poliklinik -->
    <div class="poliklinik-x" th:text="'POLIKLINIK X'"></div>
    
  
    
    <div class="ellipse-1"></div>
    <div class="group-2">
      <div class="rectangle-15"></div>
      <div class="rectangle-16"></div>
    </div>

    <img class="ellipse" th:src="@{/Perawat/img/account.png}" alt="Ikon Akun" 
     style="cursor: pointer;" onclick="confirmLogout()" />

    <script>
      function confirmLogout() {
        const userConfirmed = confirm("Apakah anda ingin log out?");
        if (userConfirmed) {
          // Arahkan ke halaman logout
          window.location.href = "http://localhost:8080/sebelum-login-user";
        }
      }
    </script>
    
    <!-- Navigasi -->
    <div class="rectangle-20"></div>
    
    <div class="ellipse-2" style="cursor: pointer; color: inherit;" onclick="navigateToInformasiPasien()"></div>
    <div class="catat-informasi-pasien" style="cursor: pointer; color: inherit;" onclick="navigateToInformasiPasien()">
      Catat Informasi Pasien
    </div>
    <img class="hand-with-pen" th:src="@{/Perawat/img/hand-with-pen0.png}" alt="Ikon Pena" style="cursor: pointer;" onclick="navigateToInformasiPasien()" />
    <script>
      function navigateToInformasiPasien() {
        window.location.href = "http://localhost:8080/perawat/catatInformasiPasien";
      }
    </script>
  </div>
</body>
</html>