<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <!-- External CSS -->
  <link rel="stylesheet" th:href="@{/resources/vars.css}">
  <link rel="stylesheet" th:href="@{/resources/style.css}">
  
  <style>
    a,
    button,
    input,
    select,
    h1,
    h2,
    h3,
    h4,
    h5,
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        border: none;
        text-decoration: none;
        background: none;
        -webkit-font-smoothing: antialiased;
    }
    menu, ol, ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
  </style>
  
  <title>Beranda Perawat</title>
</head>
<body>
  <div class="beranda-perawat">
    <img class="mount-elizabeth-novena-rekomendasi-rumah-sakit-singapura-kavacare-2"
         th:src="@{/resources/mount-elizabeth-novena-rekomendasi-rumah-sakit-singapura-kavacare-20.png}" />
         
    <div class="rectangle-2"></div>
    <div class="rectangle-3"></div>
    <div class="rectangle-4"></div>
    <div class="poliklinik-x">POLIKLINIK X</div>
    
    <div class="rectangle-14"></div>
    <img class="ic-sharp-call" th:src="@{/resources/ic-sharp-call0.svg}" />
    <div class="call-center-081234567890">Call Center : 081234567890</div>
    <img class="ic-sharp-call2" th:src="@{/resources/ic-sharp-call1.svg}" />
    <div class="customer-call-center-022-82558000">
      Customer Call Center : 022-82558000
    </div>
    
    <div class="follow-us">Follow us :</div>
    <img class="vector" th:src="@{/resources/vector0.svg}" />
    <img class="vector2" th:src="@{/resources/vector1.svg}" />
    <div class="prime-twitter">
      <img class="group" th:src="@{/resources/group0.svg}" />
    </div>
    <img class="mdi-linkedin" th:src="@{/resources/mdi-linkedin0.svg}" />
    <div class="ellipse-1"></div>
    
    <div class="group-2">
      <div class="rectangle-15"></div>
      <div class="rectangle-16"></div>
    </div>
    
    <div class="search-bar">
      <div class="content">
        <div class="magnifyingglass">
          <div class="magnifyingglass2">􀊫</div>
        </div>
        <div class="placeholder-label">Search</div>
      </div>
    </div>
    
    <div class="rectangle-20"></div>
    <img class="ellipse" th:src="@{/resources/ellipse0.png}" />
    <div class="rectangle-17"></div>
    <div class="beranda">Beranda</div>
    <div class="ellipse-2"></div>
    
    <div class="catat-informasi-pasien">
      <a th:href="@{/CatatInformasiPasien}">Catat Informasi Pasien</a>
    </div>
    <div class="data-pasien">
      <a th:href="@{/CatatRekamMedis}">Data Rekam Medis Pasien</a>
    </div>
    
    <div class="ellipse-8"></div>
    <img class="open-book" th:src="@{/resources/open-book0.png}" />
    <img class="hand-with-pen" th:src="@{/resources/hand-with-pen0.png}" />
  </div>
</body>
</html>
