<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="styleguide.css" />
    <link rel="stylesheet" href="../../static/Pelanggan/FAQ.css" />
  </head>
  <body>
    <div class="FA-qs">
      <div class="div">
        <div class="overlap">
          <div class="rectangle"></div>
          <div class="group">
            <div class="rectangle-2"></div>
            <div class="rectangle-3"></div>
            <div class="rectangle-4"></div>
          </div>
          <div class="text-wrapper">POLIKLINIK X</div>
          <div class="group-wrapper">
            <div class="overlap-group-wrapper">
              <div class="overlap-group">
                <div class="rectangle-5"></div>
                <div class="rectangle-6"></div>
              </div>
            </div>
          </div>
          <div class="rectangle-7"></div>
          <div class="rectangle-8"></div>
          <div class="rectangle-9"></div>
          <div class="search-bar">
            <div class="content">
              <div class="magnifyingglass"><div class="magnifyingglass-2">􀊫</div></div>
              <div class="placeholder-label">Search</div>
            </div>
          </div>
          <div class="text-wrapper-2">Beranda</div>
          <div class="text-wrapper-3">Layanan</div>
          <div class="text-wrapper-4">Informasi</div>
          <img class="ellipse" src="img/ellipse.png" />
          <div class="sub-head">
            <div class="overlap-group-2">
              <div class="div-wrapper">
                <div class="overlap-group-2">
                  <div class="frame">
                    <div class="ellipse-2"></div>
                    <div class="ellipse-3"></div>
                  </div>
                  <div class="group-2">
                    <div class="rectangle-10"></div>
                    <div class="rectangle-11"></div>
                    <div class="rectangle-12"></div>
                  </div>
                </div>
              </div>
              <div class="group-3">
                <div class="about-us">FAQs</div>
                <div class="home-about">Beranda / FAQs</div>
              </div>
            </div>
          </div>
        </div>
        <div class="overlap-2">
          <p class="p">Bagaimana Saya Membuat Janji Temu?</p>
          <p class="text-wrapper-5">
            Anda bisa menekan tombol “Pilih Dokter” atau “Pilih Jadwal”. Kemudian anda bisa membuat janji temu sesuai
            dengan dokter dan jadwal yang tesedia
          </p>
        </div>
        <div class="overlap-3">
          <p class="p">Spesialis Apa Saja Yang Tersedia di Poliklinik X?</p>
          <p class="text-wrapper-5">
            Dalam Poliklinik X kami memiliki beberapa spesialis yang meliputi Spesialis Paru, Spesialis Jantung dan
            Pembuluh Darah, Spesialis Ginjal dna Hipertensi, dan Spesialis Alergi dan Imunologi
          </p>
        </div>
        <div class="text-wrapper-6">Bagaimana Cara Melihat Jadwal?</div>
        <p class="text-wrapper-7">
          Anda dapat mencari data pasien anda di menu “Data Pasien”. Setelah itu akan ditampilkan jadwla yang telah anda
          buat sebelumnya
        </p>
        <p class="text-wrapper-8">Apa Saja Metoda Pembayaran Yang Tersedia?</p>
        <p class="text-wrapper-9">
          Dalam Poliklinik X kami telah menyediakan metode pembayaran digital menggunakan Gopay, OVO, da Kartu Kredit.
          Anda juga dapat menggunakan uang tunai yang nanti dibayar langsung di counter.
        </p>
        <div class="overlap-4">
          <div class="text-wrapper-10">Follow us :</div>
          <img class="vector" src="img/vector.svg" />
          <img class="img" src="img/image.svg" />
          <img class="prime-twitter" src="img/prime-twitter.svg" />
          <img class="mdi-linkedin" src="img/mdi-linkedin.svg" />
        </div>
      </div>
    </div>
  </body>
</html>
