<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" th:href="@{/globals.css}" />
    <link rel="stylesheet" th:href="@{/styleguide.css}" />
    <link rel="stylesheet" th:href="@{/static/Pelanggan/Informasi.css}" />
  </head>
  <body>
    <div class="desktop-informasi">
      <div class="overlap-wrapper">
        <div class="overlap">
          <div class="group">
            <div class="overlap-group">
              <img class="rectangle" th:src="@{/img/rectangle-77.svg}" />
              <div class="div">
                <div class="text-wrapper">Informasi</div>
                <div class="text-wrapper-2">Beranda / Informasi</div>
              </div>
            </div>
            <div class="page-title">
              <div class="beranda-informasi-wrapper">
                <div class="beranda-informasi">Beranda &gt; Informasi</div>
              </div>
            </div>
            <p class="lorem-ipsum-dolor">
              Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit. Sed Pellentesque Leo Nec Aenean Maecenas Odio
              Tempus Id. Mauris, Elementum Est Egestas Tincidunt Pellentesque. Tempus Massa Rhoncus Velit Nec. Lorem
              Purus Est Facilisis Quam Lorem Amet, Nunc Lectus. Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit.
              Sed Pellentesque Leo Nec Aenean Maecenas Odio Tempus Id. Mauris, Elementum Est Es Tincidunt Pellentesque.
              Tempus Massa Rhoncus Velit Nec. Lorem Purus Est Facilisis Quam Lorem Amet, Nunc Lectus.
            </p>
            <div class="group-2">
              <div class="item">
                <img class="mask-group" th:src="@{/img/image.png}" />
                <div class="text-wrapper-3">The Medical Experts Carefully...</div>
                <p class="p">
                  Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit. Fusce Enim Fames Quam Pellentesque Interdum
                  Purus Senectus Feugiat Elit.c.
                </p>
                <div class="READ-MORE-wrapper">
                  <a th:href="@{/read-more}" class="READ-MORE">Read More</a>
                </div>
              </div>
              <!-- Ulangi untuk item lainnya -->
            </div>
            <footer class="footer">
              <div class="overlap-2">
                <div class="rectangle-2"></div>
                <div class="footer-appointment">
                  <div class="overlap-group-2">
                    <div class="rectangle-3"></div>
                    <div class="rectangle-4"></div>
                    <img class="dun" th:src="@{/img/dun011-1.png}" />
                    <p class="mencari-profesional">
                      Mencari profesional &amp; terpercaya<br />kesehatan medis?
                    </p>
                    <p class="jangan-ragu-untuk">JANGAN RAGU UNTUK MENGHUBUNGI KAMI.</p>
                    <div class="rectangle-5"></div>
                    <a th:href="@{/janji-temu}" class="janji-temu">JANJI TEMU</a>
                  </div>
                </div>
              </div>
            </footer>
            <div class="copyright">
              <div class="overlap-4">
                <div class="text-wrapper-5">Follow us :</div>
                <img class="vector" th:src="@{/img/image.svg}" />
                <img class="vector-2" th:src="@{/img/vector.svg}" />
                <img class="prime-twitter" th:src="@{/img/prime-twitter.svg}" />
                <img class="mdi-linkedin" th:src="@{/img/mdi-linkedin.svg}" />
              </div>
            </div>
          </div>
          <div class="rectangle-7"></div>
          <div class="search-bar">
            <div class="content">
              <div class="magnifyingglass">
                <div class="magnifyingglass-2">􀊫</div>
              </div>
              <input type="text" class="placeholder-label" placeholder="Search" />
            </div>
          </div>
          <nav>
            <a th:href="@{/beranda}" class="text-wrapper-7">Beranda</a>
            <a th:href="@{/layanan}" class="text-wrapper-8">Layanan</a>
            <a th:href="@{/informasi}" class="text-wrapper-9">Informasi</a>
          </nav>
        </div>
      </div>
    </div>
  </body>
</html>
