<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/Pelanggan/JanjiTemu.css">

  <style>
    a,
    button,
    input,
    select,
    h1,
    h2,
    h3,
    h4,
    h5,
    * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      border: none;
      text-decoration: none;
      background: none;

      -webkit-font-smoothing: antialiased;
    }

    menu,
    ol,
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
  </style>
  <title>Document</title>
</head>

<body>
  <div class="janji-temu">
    <div class="group-50">
      <div class="buat-janji-temu">Buat Janji Temu</div>
      <div class="Details">
        Tarif:
        <li>Spesialis Bedah: Rp.250.000</li>
        <li>Spesialis Ortopedi: Rp.300.000</li>
        <li>Spesialis Saraf: Rp.350.000</li>
        <li>Spesialis Penyakit Dalam: Rp.400.000</li>
      </div>
    </div>
    <div class="rectangle-80"></div>
    <div class="group-49">

      <div class="group-48">
        <div class="rectangle-34"></div>
        <!-- Submit Button -->
        <div class="submit" style="cursor: pointer;" onclick="navigateToJanjiTemu()">
          Submit
        </div>
        <script>
          function navigateToJanjiTemu() {
            window.location.href = "http://localhost:8080/janji-temu";
          }
        </script>


      </div>
    </div>
    <div class="group-43">
      <div class="rectangle-36"></div>
      <div class="date">Date</div>
    </div>
    <div class="group-44">
      <div class="rectangle-37"></div>
      <div class="time">Time</div>
    </div>
    <div class="group-46">
      <div class="rectangle-38"></div>
      <div class="doctor">Doctor</div>
    </div>
    <div class="group-45">
      <div class="rectangle-39"></div>
      <div class="department">Department</div>
    </div>
  </div>

  <div class="group-148">
    <div class="rectangle-59"></div>
    <img class="vector-6" src="/Pelanggan/img/vector-60.svg" />
    <div class="group-8">
      <div class="_081234567890">081234567890</div>
      <img class="group-188" src="/Pelanggan/img/group-1880.svg" />
      <div class="emergency">Emergency</div>
    </div>
    <div class="jadwal">Jadwal</div>
    <div class="group-146">
      <div class="group-145">
        <img class="vector-9" src="/Pelanggan/img/vector-90.svg" />
        <div class="sunday">Sunday</div>
        <div class="closed">Closed</div>
      </div>
      <div class="group-144">
        <img class="vector-8" src="/Pelanggan/img/vector-80.svg" />
        <div class="saturday">Saturday</div>
        <div class="_09-00-am-07-00-pm">09:00 AM - 07:00 PM</div>
      </div>
      <div class="group-143">
        <img class="vector-7" src="/Pelanggan/img/vector-70.svg" />
        <div class="friday">Friday</div>
        <div class="_09-00-am-07-00-pm2">09:00 AM - 07:00 PM</div>
      </div>
      <div class="group-142">
        <img class="vector-62" src="/Pelanggan/img/vector-61.svg" />
        <div class="thursday">Thursday</div>
        <div class="_09-00-am-07-00-pm3">09:00 AM - 07:00 PM</div>
      </div>
      <div class="group-141">
        <img class="vector-5" src="/Pelanggan/img/vector-50.svg" />
        <div class="wednesday">Wednesday</div>
        <div class="_09-00-am-07-00-pm4">09:00 AM - 07:00 PM</div>
      </div>
      <div class="group-140">
        <img class="vector-4" src="/Pelanggan/img/vector-40.svg" />
        <div class="tuesday">Tuesday</div>
        <div class="_09-00-am-07-00-pm5">09:00 AM - 07:00 PM</div>
      </div>
      <div class="group-139">
        <img class="vector-3" src="/Pelanggan/img/vector-30.svg" />
        <div class="monday">Monday</div>
        <div class="_09-00-am-07-00-pm6">09:00 AM - 07:00 PM</div>
      </div>
    </div>


    <div class="sub-head">
      <img class="rectangle-3" src="/Pelanggan/img/rectangle-30.png" />
      <div class="rectangle-4"></div>
      <div class="frame-2">
        <div class="ellipse-1"></div>
        <div class="ellipse-2"></div>
      </div>
      <div class="group-184">
        <div class="rectangle-76"></div>
        <div class="rectangle-78"></div>
        <div class="rectangle-77"></div>
      </div>
      <div class="about-us">Buat Janji Temu</div>
      <div class="home-about">Beranda / Janji Temu</div>
    </div>

    <div class="contacts-section">
      <div class="contact">Contact</div>
      <div class="get-in-touch">Get in touch</div>
      <div class="group-79">
        <div class="rectangle-13"></div>
        <div class="group-77">
          <img class="group-178" src="/Pelanggan/img/group-1780.svg" />
          <div class="group-200">
            <div class="_0123-some-place">0123 Some place</div>
            <div class="_9876-some-country">9876 Some country</div>
            <div class="location">Location</div>
          </div>
        </div>
      </div>
      <div class="group-822">
        <div class="rectangle-132"></div>
        <div class="group-772">
          <img class="group-1882" src="/Pelanggan/img/group-1881.svg" />
          <div class="group-2002">
            <div class="_254-717-783-146-254-7">022-82558000</div>
            <div class="emergency2">Emergency</div>
          </div>
        </div>

      </div>
      <div class="group-83">
        <div class="rectangle-133"></div>
        <div class="group-773">
          <img class="group-202" src="/Pelanggan/img/group-2020.svg" />
          <div class="group-2003">
            <div class="dnx-gmil-com">dnx@gmil.com</div>
            <div class="medin-gmail-com">medin@gmail.com</div>
            <div class="email">Email</div>
          </div>
        </div>
      </div>
      <div class="group-84">
        <div class="rectangle-134"></div>
        <div class="group-774">
          <img class="group-177" src="/Pelanggan/img/group-1770.svg" />
          <div class="group-2004">
            <div class="working-hours">Working Hours</div>
            <div class="mon-sat-09-00-20-00">Mon-Sat 09:00-20:00</div>
            <div class="sunday-emergency-only">Sunday Emergency only</div>

          </div>
        </div>
      </div>
    </div>
    <div class="rectangle-14"></div>
    <div class="follow-us">Follow us :</div>
    <img class="facebook" src="/Pelanggan/img/vector4.svg" />
    <!-- <img class="instagram" src="/Pelanggan/img/vector5.svg" /> -->
    <a href="https://www.instagram.com/yourprofile/" target="_blank">
      <img class="instagram" src="/Pelanggan/img/vector5.svg" alt="Instagram" />
    </a>
    <div class="prime-twitter">
      <img class="group" src="/Pelanggan/img/group0.svg" />
    </div>
    <img class="mdi-linkedin" src="/Pelanggan/img/mdi-linkedin0.svg" />
    <div class="rectangle-20"></div>
    <div class="rectangle-2"></div>
    <div class="rectangle-32"></div>
    <div class="rectangle-42"></div>
    <div class="poliklinik-x">POLIKLINIK X</div>
    <div class="ellipse-12"></div>
    <div class="group-2">
      <div class="rectangle-15"></div>
      <div class="rectangle-16"></div>
    </div>
    <div class="rectangle-17"></div>
    <!-- Beranda Button -->
    <div class="beranda" style="cursor: pointer;" onclick="navigateToSesudahLoginPelanggan()">
      Beranda
    </div>
    <script>
      function navigateToSesudahLoginPelanggan() {
        window.location.href = "http://localhost:8080/home";
      }
    </script>
    <div class="rectangle-18"></div>
    <!-- <div class="layanan">Layanan</div> -->
    <div class="layanan" style="cursor: pointer;" onclick="navigateToLayanan()">
      Layanan
    </div>
    <script>
      function navigateToLayanan() {
        window.location.href = "http://localhost:8080/layanan";
      }
    </script>
    <div class="rectangle-19"></div>
    <div class="informasi">Informasi</div>
    <div class="informasi" style="cursor: pointer;" onclick="navigateToInformasi()">
      Informasi
    </div>
    <script>
      function navigateToInformasi() {
        window.location.href = "http://localhost:8080/informasi";
      }
    </script>
    <img class="ellipse" src="/Pelanggan/img/Ellipse.png" />
    <img class="group2" src="/Pelanggan/img/group1.svg" />
  </div>
</body>

</html>