<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../../static/Pelanggan/Login.css" />
</head>
<body>
  <div class="login">
    <div class="rectangle-21"></div>
    <div class="poliklinik-x">POLIKLINIK X</div>
    <div class="ellipse-1"></div>
    <div class="group-2">
      <div class="rectangle-15"></div>
      <div class="rectangle-16"></div>
    </div>
    <div class="rectangle-7"></div>
    <div class="group-31">
      <div class="group-1">
        <div class="sign-in-to-name">Sign in to name</div>
      </div>
    </div>
    <div class="group-32">
      <div class="phone-call-1">
        <img class="group" th:src="@{${groupIconUrl}}" alt="Phone Icon" />
      </div>
      <div class="_022-82558000">022-82558000</div>
    </div>
    <div class="group-41">
      <div class="group-34">
        <div class="sign-in">Sign in</div>
        <div class="group-22">
          <div class="if-you-don-t-have-an-account-register">
            If you don’t have an account register
          </div>
          <div class="you-can-register-here">
            <span>
              <span class="you-can-register-here-span">You can</span>
              <span class="you-can-register-here-span2">Register here !</span>
            </span>
          </div>
        </div>
      </div>
      <div class="group-40">
        <div class="group-38">
          <form th:action="@{/login}" method="post">
            <div class="group-37">
              <div class="email">Email</div>
              <input type="email" class="rectangle-8" th:field="*{email}" placeholder="Enter your email address" required />
              <div class="message-1">
                <img class="group2" th:src="@{${emailIconUrl}}" alt="Email Icon" />
              </div>
            </div>
            <div class="group-36">
              <div class="password">Password</div>
              <input type="password" class="rectangle-9" th:field="*{password}" placeholder="Enter your Password" required />
              <div class="group-35">
                <div class="padlock-1">
                  <img class="group3" th:src="@{${padlockIconUrl}}" alt="Padlock Icon" />
                  <img class="group4" th:src="@{${eyeIconUrl}}" alt="Eye Icon" />
                </div>
              </div>
            </div>
            <div class="invisible-1">
              <img class="group5" th:src="@{${invisibleIconUrl}}" alt="Invisible Icon" />
            </div>
            <div class="group-24">
              <div class="rectangle-5"></div>
              <div class="rememebr-me">
                <input type="checkbox" th:field="*{rememberMe}" /> Remember me
              </div>
              <div class="forgot-password">
                <a href="/forgot-password">Forgot Password ?</a>
              </div>
            </div>
            <div class="group-39">
              <div class="group-45">
                <div class="rectangle-10"></div>
                <button type="submit" class="login2">Login</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <img
      class="a-1-b-4-dbfbcd-8-dadbb-4-dcc-87-f-8-f-26-aa-038-removebg-preview-1"
      th:src="@{${loginImageUrl}}" alt="Login Image" />
  </div>
  
</body>
</html>