<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/Pelanggan/Informasi.css}">

  <style>
   a,
   button,
   input,
   select,
   h1,
   h2,
   h3,
   h4,
   h5,
   * {
       box-sizing: border-box;
       margin: 0;
       padding: 0;
       border: none;
       text-decoration: none;
       background: none;
   
       -webkit-font-smoothing: antialiased;
   }
   
   menu, ol, ul {
       list-style-type: none;
       margin: 0;
       padding: 0;
   }
   </style>
  <title>Document</title>
</head>
<body>
  <div class="desktop-informasi">
      <div class="rectangle-76"></div>
      <img class="rectangle-77" th:src="@{Pelanggan/img/rectangle-770.png}" />
      <div class="page-title">
        <div class="rectangle-79"></div>
        <div class="poliklinik-x">POLIKLINIK X</div>
        <div class="ellipse-1"></div>
        <div class="group-2">
          <div class="rectangle-15"></div>
          <div class="rectangle-16"></div>
        </div>
        <div class="rectangle-80"></div>
        <div class="rectangle-82"></div>
        <!-- Navigasi -->
        <div class="beranda" th:text="'Beranda'" style="cursor: pointer; color: inherit;" onclick="navigateToBeranda()">
          Beranda
        </div>
        <script>
          function navigateToBeranda() {
            window.location.href = "http://localhost:8080/";
          }
        </script>

        </script>
        <div class="informasi2" th:text="'Informasi'" style="cursor: pointer; color: inherit;" onclick="navigateToInformasi()">
          Informasi
        </div>
        <script>
          function navigateToInformasi() {
            window.location.href = "http://localhost:8080/SebelumInformasi";
          }
        </script>

        
        <img class="ellipse" th:src="@{Pelanggan/img/Ellipse.png}" />

      <div class="rectangle-53"></div>
      <div class="beranda-informasi">Beranda &gt; Informasi</div>
    </div>
    <div
      class="lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-pellentesque-leo-nec-aenean-maecenas-odio-tempus-id-mauris-elementum-est-egestas-tincidunt-pellentesque-tempus-massa-rhoncus-velit-nec-lorem-purus-est-facilisis-quam-lorem-amet-nunc-lectus-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-pellentesque-leo-nec-aenean-maecenas-odio-tempus-id-mauris-elementum-est-es-tincidunt-pellentesque-tempus-massa-rhoncus-velit-nec-lorem-purus-est-facilisis-quam-lorem-amet-nunc-lectus"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pellentesque
      leo nec aenean maecenas odio tempus id. Mauris, elementum est egestas
      tincidunt pellentesque. Tempus massa rhoncus velit nec. Lorem purus est
      facilisis quam lorem amet, nunc lectus. Lorem ipsum dolor sit amet,
      consectetur adipiscing elit. Sed pellentesque leo nec aenean maecenas odio
      tempus id. Mauris, elementum est es tincidunt pellentesque. Tempus massa
      rhoncus velit nec. Lorem purus est facilisis quam lorem amet, nunc lectus.
      <br />
      <br />
    </div>
    <div class="group-70">
      <div class="item">
        <img class="mask-group" th:src="@{Pelanggan/img/mask-group0.svg}" />
        <div class="the-medical-experts-carefully">
          The Medical Experts Carefully...
        </div>
        <div
          class="lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-fusce-enim-fames-quam-pellentesque-interdum-purus-senectus-feugiat-elit-c"
        >
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce enim
          fames quam pellentesque interdum purus senectus feugiat elit.c.
        </div>
        <div class="rectangle-39"></div>
        <div class="read-more">READ MORE</div>
      </div>
      <div class="item">
        <img class="mask-group2" th:src="@{Pelanggan/img/mask-group1.svg}" />
        <div class="the-medical-experts-carefully2">
          The Medical Experts Carefully...
        </div>
        <div
          class="lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-fusce-enim-fames-quam-pellentesque-interdum-purus-senectus-feugiat-elit-c2"
        >
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce enim
          fames quam pellentesque interdum purus senectus feugiat elit.c.
        </div>
        <div class="rectangle-392"></div>
        <div class="read-more2">READ MORE</div>
      </div>
      <div class="item">
        <img class="mask-group3" th:src="@{Pelanggan/img/mask-group2.svg}" />
        <div class="the-medical-experts-carefully3">
          The Medical Experts Carefully...
        </div>
        <div
          class="lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-fusce-enim-fames-quam-pellentesque-interdum-purus-senectus-feugiat-elit-c3"
        >
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce enim
          fames quam pellentesque interdum purus senectus feugiat elit.c.
        </div>
        <div class="rectangle-393"></div>
        <div class="read-more3">READ MORE</div>
      </div>
    </div>
    <div class="group-71">
      <div class="item">
        <img class="mask-group4" th:src="@{Pelanggan/img/mask-group3.svg}" />
        <div class="the-medical-experts-carefully4">
          The Medical Experts Carefully...
        </div>
        <div
          class="lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-fusce-enim-fames-quam-pellentesque-interdum-purus-senectus-feugiat-elit-c4"
        >
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce enim
          fames quam pellentesque interdum purus senectus feugiat elit.c.
        </div>
        <div class="rectangle-394"></div>
        <div class="read-more4">READ MORE</div>
      </div>
      <div class="item">
        <img class="mask-group5" th:src="@{Pelanggan/img/mask-group4.svg}" />
        <div class="the-medical-experts-carefully5">
          The Medical Experts Carefully...
        </div>
        <div
          class="lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-fusce-enim-fames-quam-pellentesque-interdum-purus-senectus-feugiat-elit-c5"
        >
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce enim
          fames quam pellentesque interdum purus senectus feugiat elit.c.
        </div>
        <div class="rectangle-395"></div>
        <div class="read-more5">READ MORE</div>
      </div>
      <div class="item">
        <img class="mask-group6" th:src="@{Pelanggan/img/mask-group5.svg}" />
        <div class="the-medical-experts-carefully6">
          The Medical Experts Carefully...
        </div>
        <div
          class="lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-fusce-enim-fames-quam-pellentesque-interdum-purus-senectus-feugiat-elit-c6"
        >
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce enim
          fames quam pellentesque interdum purus senectus feugiat elit.c.
        </div>
        <div class="rectangle-396"></div>
        <div class="read-more6">READ MORE</div>
      </div>
    </div>
    <div class="footer">
      <div class="rectangle-41"></div>
      <div class="footer-appointment">
        <div class="rectangle-40"></div>
        <div class="rectangle-42"></div>
        <img class="dun-011-1" th:src="@{Pelanggan/img/dun-011-10.png}" />
        <div class="mencari-profesional-terpercaya-kesehatan-medis">
          Mencari profesional &amp; terpercaya
          <br />
          kesehatan medis?
        </div>
        <div class="jangan-ragu-untuk-menghubungi-kami">
          Jangan Ragu Untuk Menghubungi Kami.
        </div>
        <div class="rectangle-48"></div>
        <div class="janji-temu" th:text="'Janji Temu'" style="cursor: pointer; color: white;" onclick="navigateToJanjiTemu()">
          Janji temu
        </div>
        <script>
          function navigateToJanjiTemu() {
            window.location.href = "http://localhost:8080/janji-temu";
          }
        </script>
      </div>
      <div class="footer-cta">
        <div class="group-17">
          <div class="rectangle-49"></div>
          <div class="_081234567890">081234567890</div>
          <div class="call-us-now">Call us Now</div>
          <div class="rectangle-50"></div>
          <img class="group" th:src="@{Pelanggan/img/group0.svg}" alt="Group 0" />
        </div>
        <div class="group-18">
          <div class="rectangle-492"></div>
          <div class="x-poliklinik-poliklinik-com">
            X.poliklinik@poliklinik.com
          </div>
          <div class="drop-us-an-email">Drop us an email</div>
          <div class="rectangle-502"></div>
          <img class="group2" th:src="@{Pelanggan/img/group1.svg}" alt="Group 1" />
        </div>
        <div class="group-19">
          <div class="rectangle-493"></div>
          <div class="_24-x-7-support">24 X 7 support</div>
          <div class="we-are-open-on">We are open on</div>
          <div class="rectangle-503"></div>
          <img class="group3" th:src="@{Pelanggan/img/group2.svg}" alt="Group 2" />
        </div>
      </div>
    </div>
    <div class="copyright">
      <div class="rectangle-52"></div>
    </div>
  </div>
</body>
</html>
