<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="home-sebelum-login-sign-up">
    <img
      class="mount-elizabeth-novena-rekomendasi-rumah-sakit-singapura-kavacare-1"
      th:src="@{${imageUrl}}"
      alt="Image Description"
    />
    <div class="rectangle-20"></div>
    <div class="rectangle-2"></div>
    <div class="rectangle-3"></div>
    <div class="rectangle-4"></div>
    <div class="poliklinik-x">POLIKLINIK X</div>
    <div class="rectangle-14"></div>
    <img class="ic-sharp-call" th:src="@{${callIconUrl}}" alt="Call Icon" />
    <div class="call-center-081234567890">Call Center : 081234567890</div>
    <img class="ic-sharp-call2" th:src="@{${callIconUrl2}}" alt="Call Icon" />
    <div class="customer-call-center-022-82558000">
      Customer Call Center : 022-82558000
    </div>
    <div class="follow-us">Follow us :</div>
    <img class="vector" th:src="@{${vectorIconUrl}}" alt="Vector Icon" />
    <img class="vector2" th:src="@{${vectorIconUrl2}}" alt="Vector Icon" />
    <div class="prime-twitter">
      <img class="group" th:src="@{${twitterIconUrl}}" alt="Twitter Icon" />
    </div>
    <img class="mdi-linkedin" th:src="@{${linkedinIconUrl}}" alt="LinkedIn Icon" />
    <div class="ellipse-1"></div>
    <div class="group-2">
      <div class="rectangle-15"></div>
      <div class="rectangle-16"></div>
    </div>
    <div class="rectangle-17"></div>
    <div class="rectangle-18"></div>
    <div class="rectangle-19"></div>
    <div class="search-bar">
      <div class="content">
        <div class="magnifyingglass">
          <div class="magnifyingglass2">􀊫</div>
        </div>
        <div class="placeholder-label">Search</div>
      </div>
    </div>
    <div class="ellipse-3"></div>
    <img class="group-46" th:src="@{${groupIconUrl}}" alt="Group Icon" />
    <img class="mask-group" th:src="@{${maskGroupIconUrl}}" alt="Mask Group Icon" />
    <div class="ellipse-7"></div>
    <img class="vector3" th:src="@{${vectorIconUrl3}}" alt="Vector Icon" />
    <div class="beranda" th:text="#{home}">Beranda</div>
    <div class="jadwal-dokter" th:text="#{doctorSchedule}">Jadwal Dokter</div>
    <div class="layanan" th:text="#{services}">Layanan</div>
    <div class="informasi" th:text="#{information}">Informasi</div>
    <div class="login" th:text="#{login}">LOGIN</div>
    <div class="register" th:text="#{register}">Register</div>
    <div class="janji-temu" th:text="#{appointment}">Janji Temu</div>
    <div class="faq" th:text="#{faq}">FAQ</div>
    <div class="line-1"></div>
    <div class="ellipse-8"></div>
    <div class="pilih-dokter" th:text="#{chooseDoctor}">Pilih Dokter</div>
    <img class="vector4" th:src="@{${vectorIconUrl4}}" alt="Vector Icon" />
  </div>
  
</body>
</html>